{% if available > 0 %}
  {% assign class = avail_class %}
  {% assign icon = avail_icon %}
  {% assign badge = avail_badge %}
{% else %}
  {% assign class = unavail_class %}
  {% assign icon = unavail_icon %}
  {% assign badge = unavail_badge %}
{% endif %}

<li class="available-now__status available-now__status--{{ class }}">
  {% if linked %}
    <a class="available-now__link" href="{% path_to type %}">
  {% endif %}
    {% unless location %}
      <i class="fa fa-fw {{ icon }}"></i>
    {% endunless %}
    <i class="fa fa-fw fa-{{ os }} available-now__os"></i>
    {% if location %} <span class="available-now__location">{{ location }}</span> {% endif %}
    <span class="badge {{ badge }} {% if location %}available-now__badge--promote{% endif %}">{{ available }}</span>
  {% if linked %}
    </a>
  {% endif %}
</li>
