  <h5 class="available-now__subheading">
    <a class="available-now__link" href="{% path_to spaces %}/study" title="View all of our study spaces">Study Spaces</a>

    <a href="{% path_to spaces %}" title="Find a space that fits your needs">
      <button class="available-now__find-space">Find all Spaces</button>
    </a>
  </h5>


  {% comment %}This trick to get BSON ID for study entry of spaces_types courtesy of Didier via Gitter convo{% endcomment %}
  {% with_scope _slug: 'study' %}{% assign study_space_type = contents.spaces_types.first %}{% endwith_scope %}

  <ul>
    {% comment %}Use with_scope to filter on study spaces{% endcomment %}
    {% with_scope spaces_types: study_space_type %}

      {% include 'room-availability-variables'%}

      {% assign counter = 1 %}

      <div class="available-now__study--grouping">

      {% for space in contents.spaces %}
        {% if space.reservation_system or space.loan_period %}

          {% include 'room-availability-logic' %}

          <li class="available-now__status available-now__status--{{ room_availability | downcase }}">
            <a class="available-now__link ui" href="{% path_to space %}" {% if next_available and room_availability == 'Unavailable' %}data-tooltip="Next Available: {{ next_available | date: '%-I:%M %p' }}" data-position="top left" data-inverted=""{% endif %}>
              <span class="fa fa-fw {{ available_icon }} available-now__icon--{{ room_availability | downcase }}"></span> {{ space.name }}
            </a>
          </li>

          {% if counter == 6 %}
            </div><div class="available-now__study--grouping">
          {% endif %}

          {% assign counter = counter | plus: 1 %}
        {% endif %}
      {% endfor %}

      </div>
    {% endwith_scope %}
  </ul>
