{% if available > 0 %}
  {% assign class = avail_class %}
  {% assign icon = avail_icon %}
  {% assign badge = avail_badge %}
{% else %}
  {% assign class = unavail_class %}
  {% assign icon = unavail_icon %}
  {% assign badge = unavail_badge %}
{% endif %}

<li class="available-now__status--{{ class }}">
  {% if linked %}
    <a class="available-now__link" href="{% path_to type %}">
  {% endif %}
    <i class="fa fa-fw {{ icon }}"></i>
    <i class="fa fa-fw fa-{{ os }} available-now__os"></i>
    <span class="badge {{ badge }}">{{ available }}</span>
  {% if linked %}
    </a>
  {% endif %}
</li>
