  <h5 class="available-now__subheading">Study Spaces</h5>

  {% comment %}This trick to get BSON ID for study entry of spaces_types courtesy of Didier via Gitter convo{% endcomment %}
  {% with_scope _slug: 'study' %}{% assign study_space_type = contents.spaces_types.first %}{% endwith_scope %}

  <ul>
    {% comment %}Use with_scope to filter on study spaces{% endcomment %}
    {% with_scope spaces_types: study_space_type %}

    {% comment %}MannServices Room Availability{% endcomment %}
    {% consume mannservices_api from "http://mannservices.mannlib.cornell.edu/LibServices/showRoomInfo.do?output=json&locationId=14" %}
      {% assign grad_room_next_available = mannservices_api.grad_room_next_available %}
      {% assign group_room_next_available = mannservices_api.group_room_next_available %}
      {% assign individual_room_next_available = mannservices_api.individual_room_next_available %}
    {% endconsume %}

    {% capture current_time %}{{ now | date: '%s'}}{% endcapture %}

    {% comment %} Build the Libcal request string using API key stored in site metafield {% endcomment %}
    {% assign api_request_url = 'https://api2.libcal.com/1.0/room_availability/?iid=973&key=' %}
    {% assign api_request_url = api_request_url | append: site.metafields.sensitive_data.libcal_apikey %}

      {% for space in contents.spaces %}
        {% if space.reservation_system or space.loan_period %}
        {% assign  next_available = nil %}
          {% comment %}LibCal Room Availability{% endcomment %}
          {% if space.reservation_system.name == "LibCal" %}
            {% if space.name == "Bissett Workstations" %}
              {% assign room_param = "&room_id=4062"%}
            {% elsif space.name == "Hive" %}
              {% assign room_param = "&room_id=34485"%}
            {% elsif space.name == "Interview Room" %}
              {% assign room_param = "&room_id=30942"%}
            {% elsif space.name == "One Button Studio" %}
              {% assign room_param = "&room_id=4064"%}
            {% endif %}

              {% assign api_request_url = api_request_url | append: room_param%}
              {% consume libcal_api from api_request_url %}
                {% assign libcal_timeslots = libcal_api.availability.timeslots %}
                {% for timeslot in libcal_timeslots %}
                  {% comment %}Now available{% endcomment %}
                  {% if timeslot.start <= now %}
                    {% assign available_class = "status--available" %}
                    {% assign available_icon = "fa-check-square" %}
                    {% comment %}Next available{% endcomment %}
                  {% elsif timeslot.start > now && timeslot.end <= now %}
                    {% assign available_class = "status--unavailable" %}
                    {% assign available_icon = "fa-minus-square" %}
                    {% assign next_available = timeslot.start | date: '%-I:%M %p' %}

                    {% break %}

                  {% endif %}
                {% endfor %}
              {% endconsume %}

          {% else %}
          {% comment %}MannServices Room Availability Logic{% endcomment %}
            {% if space.name == "Grad Rooms" %}

            {% capture available_time %}{{individual_room_next_available | date: '%s'}}{% endcapture %}

              {% comment %}Now available{% endcomment %}
              {% if available_time <= current_time %}
                {% assign available_class = "status--available" %}
                {% assign available_icon = "fa-check-square" %}
              {% comment %}Next available{% endcomment %}
              {% elsif available_time > current_time %}
                {% assign available_class = "status--unavailable" %}
                {% assign available_icon = "fa-minus-square" %}
                {% assign next_available = grad_room_next_available %}
              {% endif %}

            {% elsif space.name == "Group Study Rooms" %}

            {% capture available_time %}{{individual_room_next_available | date: '%s'}}{% endcapture %}

              {% comment %}Now available{% endcomment %}
              {% if available_time <= current_time %}
                {% assign available_class = "status--available" %}
                {% assign available_icon = "fa-check-square" %}
              {% comment %}Next available{% endcomment %}
              {% elsif available_time > current_time %}
                {% assign available_class = "status--unavailable" %}
                {% assign available_icon = "fa-minus-square" %}
                {% assign next_available = group_room_next_available %}
              {% endif %}

            {% elsif space.name == "Individual Study Rooms" %}

              {% capture available_time %}{{individual_room_next_available | date: '%s'}}{% endcapture %}

              {% comment %}Now available{% endcomment %}
              {% if available_time <= current_time %}
                {% assign available_class = "status--available" %}
                {% assign available_icon = "fa-check-square" %}
                {% comment %}Next available{% endcomment %}
              {% elsif available_time > current_time %}
                {% assign available_class = "status--unavailable" %}
                {% assign available_icon = "fa-minus-square" %}
                {% assign next_available = individual_room_next_available %}
              {% endif %}

            {% endif %}

          {% endif %}

          <li class="available-now__{{ available_class }}">
            <a class="available-now__link" href="{% path_to space %}">
              <i class="fa fa-fw {{ available_icon }}"></i> {{ space.name }}
              {% if next_available %}
                <p>Next Availabe: {{ next_available | date: '%-I:%M %p' }}</p>
              {% endif %}
            </a>
          </li>

        {% endif %}
      {% endfor %}
    {% endwith_scope %}
  </ul>

  <a href="{% path_to spaces %}">
    <button class="available-now__find-space">Find a Space</button>
  </a>
