<div class="news-story">
  <strong class="news-story__date">
    {{ news.date | date: '%a %b %e, %Y' }}
  </strong>

  <figure class="news-story__image {{ news.image_align }}">
    <img class="ui rounded image" alt="news story photo" src="{{ news.image.url | resize: '400x>' }}">

    {% if news.image_caption %}
      <figcaption class="news-story__image-caption">{{ news.image_caption }}</figcaption>
    {% endif %}
  </figure>

  {{ news.body }}
</div>
