{% include 'room-availability-variables'%}

<p>{{ spaces_type.description }}</p>

{% if spaces_type._slug == 'lobby-cafe' %}
  {% include 'spaces-lobby-kiosk' %}
{% endif %}

{% assign libcal_widget_counter = 1 %}

{% if spaces_type._slug == 'study' %}
  <div class="ui stackable secondary pointing menu">
    {% for study_type in contents.spaces_study_types %}
      {% capture study_type_icon %}
        {% case study_type._slug %}
          {% when 'group' %}
            users
          {% when 'individual' %}
            user
        {% endcase %}
      {% endcapture %}

      <a class="item" href="#{{study_type._slug}}">
        {% if study_type._slug == 'quiet' %}
          <span class="space-finder__quiet-grp fa-stack">
            <i class="fa fa-volume-up fa-stack-1x"></i>
            <i class="space-finder__quiet-ban fa fa-ban fa-stack-2x"></i>
          </span>
        {% else %}
          <i class="{{ study_type_icon }} icon"></i>
        {% endif %}

        {{ study_type.name }}
      </a>
    {% endfor %}
    <a class="item" href="#reservable">
      <i class="calendar icon"></i>
      Reservable
    </a>
  </div>

  {% for study_type in contents.spaces_study_types %}
    <div class="space-finder__study-spaces">
      <h3 id="{{study_type._slug}}" class="space-finder__subheading">{{ study_type.name }} Study</h3>

      {% assign spaces_collection = study_type.spaces %}

      {% include 'spaces-cards' %}
    </div>
  {% endfor %}

  {% comment %} Filter on reservable study spaces {% endcomment %}
  {% with_scope _slug: 'study' %}{% assign study_space_type = contents.spaces_types.first %}{% endwith_scope %}
  {% with_scope spaces_types: study_space_type %}{% assign study_spaces = contents.spaces.all %} {% endwith_scope %}
  {% comment %}
    Ideally would use reservation_system field to filter but Engine chokes because expecting a BSON objectid
    -- couldn't figure out an operator to use on a relationship field that could simply test for existence of relationship
    -- https://github.com/locomotivecms/steam/blob/master/lib/locomotive/steam/liquid/tags/with_scope.rb#L19
  {% endcomment %}
  {% with_scope reserve_sys_id.gt: 1, spaces_types: study_space_type %}{% assign reservable_study_spaces = contents.spaces.all %}{% endwith_scope %}

  <div class="space-finder__study-spaces">
    <h3 id="reservable" class="space-finder__subheading">Reservable</h3>

    {% assign spaces_collection = reservable_study_spaces %}

    {% include 'spaces-cards' %}
  </div>

{% else %}
  {% assign spaces_collection = spaces_type.spaces %}

  {% include 'spaces-cards' %}
{% endif %}
