{% assign placeholder_image = 'placeholder.jpg' | theme_image_url %}
<div id="js-experts" class="all-experts">
  <div class="all-experts__toggles">
    <div class="js-toggle-buttons ui basic buttons">
      <a class="js-liaison-only ui tiny button">All Liaisons</a>
      <a class="js-expert-only ui tiny button">All Experts</a>
    </div>
  </div>

  <a class="all-experts__staff-directory" href="{% path_to staff %}" title="View all our staff">
    <i class="fa fa-fw fa-info-circle"></i>
    Staff Directory
  </a>

  <div class="all-experts__filters">
    <div class="all-experts__filter all-experts__filter--department">
      <div class="ui fluid accordion">
        {% include 'experts-filters' with filter_type: 'dept', college: 'CALS' %}
        {% include 'experts-filters' with filter_type: 'dept', college: 'CHE' %}

        {% comment %} Build array of collective expertise -- insanity {% endcomment %}
        {% capture all_skills %}{% for person in contents.staff %}{% for skill in person.expertise %}{{ skill | capitalize }}, {% endfor %}{% endfor %}{% endcapture %}
        {% assign all_skills = all_skills | split: ', ' | sort | uniq %}
        {% comment %}<pre>{{ all_skills }}</pre>{% endcomment %}

        {% include 'experts-filters' with name: 'Expertise', array: all_skills %}
      </div>
    </div>
  </div>

  <ul class="all-experts__list list">
    {% for person in contents.staff %}
      {% if person.expertise.size > 0 %}{% assign type = 'expert,' %}{% endif %}
      {% if person.departments.size > 0 %}
        {% assign type = type | append: 'liaison' %}
        {% capture depts %}{% for dept in person.departments %}{{ dept.name }},{% endfor %}{% endcapture %}
      {% endif %}
      {% capture skills %}{% for skill in person.expertise %}{{ skill | capitalize }},{% endfor %}{% endcapture %}

        <li class="all-experts__person" data-type="{{ type }}" data-department="{{ depts }}" data-expertise="{{ skills }}">
          <div class="all-experts__photo-consult">
            <img class="all-experts__photo {% unless person.photo.url %}all-experts__photo--placeholder{% endunless %}" src="{{ person.photo.url | resize: '400x400#n' | default: placeholder_image }}">

            {% if person.libcal_uid.size > 0 %}
              {% include 'staff-book-consultation' with libcal_uid: person.libcal_uid, class: 'all-experts__consult' %}
            {% endif %}
          </div>

          <div class="all-experts__contact">
            <a class="all-experts__email" href="https://www.cornell.edu/search/people.cfm?netid={{ person.netid }}" title="Contact details for {{ person.first_name }}" target="_blank">
              <i class="fa fa-fw fa-envelope"></i> {{ person.netid }}
            </a>
            <a href="tel:+1607-25{{ person.phone }}" title="Call {{ person.first_name }}">
              <i class="fa fa-fw fa-phone"></i> 607-25{{ person.phone }}
            </a>
          </div>

          <div class="all-experts__body">
            <h3 class="all-experts__name">{{ person.first_name }} {{ person.last_name }}</h3>
            <span class="all-experts__title">{{ person.title }}</span>

            <div class="ui stacked segments">
              {% if type contains 'expert' %}
                <div class="all-experts__prop-segment ui segment">
                  <h6 class="all-experts__prop-heading ui horizontal label">Expertise</h6>

                  <ul class="all-experts__prop-list">
                    {% for skill in person.expertise %}
                      <li class="all-experts__prop-item">{{ skill }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              {% if type contains 'liaison' %}
                <div class="all-experts__prop-segment ui segment">
                  <h6 class="all-experts__prop-heading ui horizontal label">Liaison to</h6>

                  <ul class="all-experts__prop-list">
                    {% for dept in person.departments %}
                      <li class="all-experts__prop-item">{{ dept.name }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          </div>
        </li>

        {% comment %} Reset tests {% endcomment %}
        {% assign type = '' %}
        {% assign depts = '' %}
    {% endfor %}
  </ul>
</div>

{{ 'allExperts.bundle.js' | javascript_tag }}

<!--  Libcal MyScheduler Widget-->
{{ '//api3.libcal.com/js/myscheduler.min.js?002' | javascript_tag }}
