{% assign placeholder_image = 'placeholder.jpg' | theme_image_url %}
<div id="js-experts" class="all-experts">
  <div class="all-experts__request-buttons">
    <a class="staff-directory__book-consultation ui mini button" href="https://cornell.libwizard.com/f/RequestMannConsultation">Request a Consultation</a>      
    <a class="staff-directory__book-consultation ui mini button" href="{% path_to request-course-instruction %}">Request Course Instruction</a>      
  </div>

  <a class="all-experts__staff-directory" href="{% path_to staff %}" title="View all our staff">
    <span class="fa fa-fw fa-info-circle"></span>
    Staff Directory
  </a>

  <div class="all-experts__filters">
    <div class="all-experts__filter all-experts__filter--department">
      <a class="all-experts__filter-reset js-filter-reset mannlib-hidden" href="#"><span class="fa fa-undo"></span> Reset to All Experts</a>
      <div class="ui fluid accordion">
        {% comment %} All teams {% endcomment %}
        {% comment %} {% include 'experts-filters' with name: 'Teams', array: contents.teams, model: true %} {% endcomment %}

        {% comment %} Build array of teams with direct members -- sanity maintained by standing on the shoulders of giants (see below) {% endcomment %}
        {% capture teams %}{% for team in contents.teams %}{% if team.members.size > 0 %}{{ team.name }}, {% endif %}{% endfor %}{% endcapture %}
        {% assign teams = teams | split: ', ' | sort %}

        {% include 'experts-filters' with name: 'Teams', array: teams %}

        {% comment %} Build array of collective expertise -- insanity {% endcomment %}
        {% capture all_skills %}{% for person in contents.staff %}{% for skill in person.expertise %}{{ skill | capitalize }}, {% endfor %}{% endfor %}{% endcapture %}
        {% assign all_skills = all_skills | split: ', ' | sort | uniq %}
        {% comment %}<pre>{{ all_skills }}</pre>{% endcomment %}

        {% include 'experts-filters' with name: 'Expertise', array: all_skills %}
      </div>
    </div>
  </div>

  <ul class="all-experts__list list">
    {% for person in contents.staff %}
      {% if person.expertise.size > 0 %}{% assign type = 'expert,' %}{% endif %}
      {% if person.teams.size > 0 %}
        {% assign type = type | append: 'teams' %}
        {% capture teams %}{% for team in person.teams %}{{ team.name }},{% endfor %}{% endcapture %}
      {% endif %}
      {% if person.departments.size > 0 %}
        {% assign type = type | append: 'liaison' %}
        {% capture depts %}{% for dept in person.departments %}{{ dept.name }},{% endfor %}{% endcapture %}
      {% endif %}
      {% capture skills %}{% for skill in person.expertise %}{{ skill | capitalize }},{% endfor %}{% endcapture %}

        <li class="all-experts__person" data-type="{{ type }}" data-department="{{ depts }}" data-expertise="{{ skills }}" data-teams="{{ teams }}">
          <div class="all-experts__photo-consult">
            <img class="all-experts__photo {% unless person.photo.url %}all-experts__photo--placeholder{% endunless %}" alt="{{ person.first_name }} {{ person.last_name }} headshot" src="{{ person.photo.url | resize: '400x400#n' | default: placeholder_image }}">

            {% if person.libcal_uid.size > 0 %}
              {% include 'staff-book-consultation' with libcal_uid: person.libcal_uid, class: 'all-experts__consult' %}
            {% endif %}
          </div>

          <div class="all-experts__body">
            <div class="all-experts__contact">
              <a class="all-experts__email" href="https://www.cornell.edu/search/people.cfm?netid={{ person.netid }}" title="Contact details for {{ person.first_name }}" target="_blank">
                <span class="fa fa-fw fa-envelope"></span> {{ person.netid }}
              </a>
              {% if person.phone.size > 0 %}
                <a class="all-experts__phone" href="tel:+1607-25{{ person.phone }}" title="Call {{ person.first_name }}">
                  <span class="fa fa-fw fa-phone"></span> 607-25{{ person.phone }}
                </a>
              {% endif %}
            </div>

            <h3 class="all-experts__name">{{ person.first_name }} {{ person.last_name }}</h3>
            <span class="all-experts__title">{{ person.title }}</span>

            <div class="ui stacked segments">
              {% if type contains 'expert' %}
                <div class="all-experts__prop-segment ui segment">
                  <h6 class="all-experts__prop-heading ui horizontal label">Expertise</h6>

                  <ul class="all-experts__prop-list">
                    {% for skill in person.expertise %}
                      <li class="all-experts__prop-item">{{ skill }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              {% if person.teams.size > 0 %}
                <div class="all-experts__prop-segment ui segment">
                  <h6 class="all-experts__prop-heading ui horizontal label">Team</h6>

                  <ul class="all-experts__prop-list">
                    {% for team in person.teams %}
                      <li class="all-experts__prop-item">{{ team.name }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          </div>
        </li>

        {% comment %} Reset tests {% endcomment %}
        {% assign type = '' %}
        {% assign teams = '' %}
        {% assign depts = '' %}
    {% endfor %}
  </ul>
</div>

{{ 'allExperts.bundle.js' | javascript_tag }}

<!--  Libcal MyScheduler Widget-->
{{ '//api3.libcal.com/js/myscheduler.min.js?002' | javascript_tag }}
