{% comment %} Filter out future news stories {% endcomment %}
{% with_scope date.lte: now %}{% assign published_stories = contents.news.all %}{% endwith_scope %}

<div class="news-latest__stories">
  {% editable_model news, hint: 'Manage all news stories' %}
    <ul>
      {% for story in published_stories %}
        <li class="news-latest__item">
          <a href="{% path_to story %}" title="View full story"><img class="news-latest__img ui rounded image" alt="news story photo" src="{{ story.image.url | resize: '125x125#n' }}"></a>

          <h5 class="news-latest__story-title"><a href="{% path_to story %}" title="View full story">{{ story.title }}</a></h5>

          <p>
            <span class="news-latest__date ui mini basic label">{{ story.date | date: '%a %b %e, %Y' }}</span>

            {{ story.teaser }}
          </p>
        </li>

        {% if forloop.index == 3 %}
          {% break %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endeditable_model %}

  <h4 class="news-latest__archive-heading">Older News</h4>

  <ul>
    {% for story in published_stories %}
      {% comment %} Skip first 3 since they're featured above {% endcomment %}
      {% if forloop.index < 4 %}
        {% continue %}
      {% endif %}

      {% include 'news-archive-list' %}

      {% comment %} Bail out after 5 & link to archive {% endcomment %}
      {% if forloop.index == 8 %}
        {% break %}
      {% endif %}
    {% endfor %}
  </ul>

  <a class="news-older__archive-link" href="{% path_to news-archive %}" title="View all news stories in our archive">News archive <i class="fa fa-angle-double-right"></i></a>
</div>

<ul class="news-latest__social inline">
  {% include 'social-media-links' with component: 'news-latest' %}
</ul>

{% assign tumblr_url = 'http://mannlibrary.tumblr.com/rss' %}

{% consume mann_tumblr from tumblr_url, expires_in: 3600, timeout: 5.0  %}
  {% if mann_tumblr %}
    {% assign latest_post = mann_tumblr.rss.channel.item.first %}

    <div class="news-latest__tumblr">
      <h5><a href="{{ latest_post.link }}" target="_blank" title="View our latest post on Tumblr">{{ latest_post.title }}</a></h5>

      <p>{{ latest_post.description | truncatewords: 50 }}</p>

      <a href="{{ latest_post.link }}" target="_blank" title="View our latest post on Tumblr">Read more <i class="fa fa-angle-double-right"></i></a>
    </div>
  {% endif %}
{% endconsume %}

{% comment %}
  Facebook Page Plugin
  https://developers.facebook.com/docs/plugins/page-plugin
{% endcomment %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="news-latest__facebook fb-page"
  data-href="https://www.facebook.com/mannlibrary"
  data-adapt-container-width="true"
  data-hide-cover="false"
  data-show-facepile="false"><blockquote cite="https://www.facebook.com/mannlibrary" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mannlibrary">Albert R. Mann Library</a></blockquote></div>
