{% include 'equipment-list-setup' %}
<table class="equipment-list__table ui yellow selectable unstackable very compact small table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">Cameras</div></td>
    </tr>
    <tr>
      {{ camera_items }}
    </tr>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">Camcorders</div></td>
    </tr>
    <tr>
      {{ camcorder_items }}
    </tr>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">Audio Recorders</div></td>
    </tr>
    <tr>
      {{ audio_recorder_items }}
    </tr>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">Projectors</div></td>
    </tr>
    <tr>
      {{ projector_items }}
    </tr>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">Microphones</div></td>
    </tr>
    <tr>
      {{ microphone_items }}
    </tr>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">GPS Units</div></td>
    </tr>
    <tr>
      {{ gps_unit_items }}
    </tr>
    <tr>
    </tr>
      <td colspan="2"><div class="ui large teal ribbon label">Additional Equipment</div></td>
    <tr>
      {{ additional_equipment_items }}
    </tr>
  </tbody>
</table>
