{% comment %}
{% include 'equipment-list-setup' %}
<table class="equipment-list__table ui yellow selectable unstackable very compact small table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">Cameras</div></td>
    </tr>
    <tr>
      {{ camera_items }}
    </tr>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">Camcorders</div></td>
    </tr>
    <tr>
      {{ camcorder_items }}
    </tr>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">Audio Recorders</div></td>
    </tr>
    <tr>
      {{ audio_recorder_items }}
    </tr>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">Projectors</div></td>
    </tr>
    <tr>
      {{ projector_items }}
    </tr>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">Microphones</div></td>
    </tr>
    <tr>
      {{ microphone_items }}
    </tr>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">GPS Units</div></td>
    </tr>
    <tr>
      {{ gps_unit_items }}
    </tr>
    <tr>
    </tr>
      <td colspan="2"><div class="ui large teal ribbon label">Additional Equipment</div></td>
    <tr>
      {{ additional_equipment_items }}
    </tr>
  </tbody>
</table>
{% endcomment %}

<div class="equipment">

  <div class="equipment__intro">
    <p>Mann Library has a variety of equipment available for check-out from the 1st floor Circulation Desk. If what you are looking for is unavailable at Mann please look at the availability of <a target="_blank" href="https://olinuris.library.cornell.edu/services/equipment/loans" title="Link: https://olinuris.library.cornell.edu/services/equipment/loans">equipment at other libraries</a>.</p>
  </div>

  <div class="equipment__questions">
    <p><strong>Questions?</strong> Please contact the Circulation Desk at <a href="tel:607-255-3296">255-3296</a>
    </p>
  </div>

  <div class="equipment__type">
    <ul>

      <li>
        <p><span>Audio Recorders</span>
          <a href="#" title="">
            <button class="">Pick up Now</button>
          </a>
          <a href="#" title="">
            <button class="">Reserve</button>
          </a>
        </p>
      </li>

      <li>
        <p><span>DSLR Cameras</span>
          <a href="#" title="">
            <button class="">Pick up Now</button>
          </a>
          <a href="#" title="">
            <button class="">Reserve</button>
          </a>
        </p>
      </li>

      <li>
        <p><span>GPS Units</span>
          <a href="#" title="">
            <button class="">Pick up Now</button>
          </a>
          <a href="#" title="">
            <button class="" disabled>Reserve</button>
          </a>
        </p>
      </li>

      <li>
        <p><span>iPhone Mic</span>
          <a href="#" title="">
            <button class="">Pick up Now</button>
          </a>
          <a href="#" title="">
            <button class="" disabled>Reserve</button>
          </a>
        </p>
      </li>

      <li>
        <p><span>Microphones</span>
          <a href="#" title="">
            <button class="">Pick up Now</button>
          </a>
          <a href="#" title="">
            <button class="">Reserve</button>
          </a>
        </p>
      </li>

      <li>
        <p><span>Projector</span>
          <a href="#" title="">
            <button class="">Pick up Now</button>
          </a>
          <a href="#" title="">
            <button class="">Reserve</button>
          </a>
        </p>
      </li>

      <li>
        <p><span>Thermal Imager</span>
          <a href="#" title="">
            <button class="">Pick up Now</button>
          </a>
          <a href="#" title="">
            <button class="" disabled>Reserve</button>
          </a>
        </p>
      </li>

      <li>
        <p><span>Tripods</span>
          <a href="#" title="">
            <button class="">Pick up Now</button>
          </a>
          <a href="#" title="">
            <button class="">Reserve</button>
          </a>
        </p>
      </li>

      <li>
        <p><span>Videocameras</span>
          <a href="#" title="">
            <button class="">Pick up Now</button>
          </a>
          <a href="#" title="">
            <button class="">Reserve</button>
          </a>
        </p>
      </li>
    </ul>
  </div>

  <div class="equipment__reserve-info">
    <h3>Should I make a reservation?</h3>

    <p>The same borrowing policies apply for both the reservable and first come, first served equipment. The main difference is you can come to the circ desk to pick up any available equipment on the spot, without first reserving it online. If, however, you need a piece of equipment on a specific date, then we would encourage you to make a reservation.
      <p>
  </div>

  <div class="equipment__policy">
    <h4>Policies</h4>

    <ul>
      <li>Loanable for up to 3 days.</li>
      <li>Cornell students, faculty, and staff with a valid Cornell ID can checkout</li>
      <li>NY State Privilege cards, CU Library cards, spousal cards, or proxy users. "On Leave" or "in absentia" status students are not eligible to check out</li>
      <li>Patrons are responsible for returning all items on time and in good condition to the Mann Library Circulation Desk during operating hours.</li>
      <li>Overdue fines are $1.00/minute.</li>
      <li><strong>Please note: Equipment is not renewable.</strong>
      </li>
    </ul>
  </div>

</div>
