{% assign equipment_url = 'http://mannservices.mannlib.cornell.edu/LibServices/showEquipmentInfo.do?locationId=14&output=json' %}

{% consume mann_equipment from equipment_url, timeout: 5.0  %}

  {% for equipment in mann_equipment.equipment_list %}
    {% comment %}DSLR Camera{% endcomment %}
    {% if equipment.equipment_type == 'dslr-camera' %}
      {% assign camera_type_1_title = 'Canon T5i'%}
      {% include 'equipment-availability-badge' %}
      {% capture camera_type_1_items %} {{ camera_type_1_items }} <tr><td>{{ equipment.name }}</td><td><span class="badge {{ badge }}">{{ availability }}</span><br>{{ due_back_string }}</td></tr> {% endcapture %}
    {% comment %}Videocamera{% endcomment %}
    {% elsif equipment.equipment_type == 'videocamera'%}
      {% assign videocamera_type_1_title = 'Sony HDR-CX440'%}
      {% include 'equipment-availability-badge' %}
      {% capture videocamera_type_1_items %} {{ videocamera_type_1_items }} <tr><td>{{ equipment.name }}</td><td><span class="badge {{ badge }}">{{ availability }}</span><br>{{ due_back_string }}</td></tr> {% endcapture %}
    {% comment %}Audio recorder{% endcomment %}
    {% elsif equipment.equipment_type == 'audio-recorder'%}
      {% assign audio_recorder_type_1_title = 'Zoom H1'%}
      {% include 'equipment-availability-badge' %}
      {% capture audio_recorder_type_1_items %} {{ audio_recorder_type_1_items }} <tr><td>{{ equipment.name }}</td><td><span class="badge {{ badge }}">{{ availability }}</span><br>{{ due_back_string }}</td></tr> {% endcapture %}
    {% comment %}Projector{% endcomment %}
    {% elsif equipment.equipment_type == 'projector'%}
      {% assign projector_type_1_title = 'Epson VX240'%}
      {% include 'equipment-availability-badge' %}
      {% capture projector_type_1_items %} {{ projector_type_1_items }} <tr><td>{{ equipment.name }}</td><td><span class="badge {{ badge }}">{{ availability }}</span><br>{{ due_back_string }}</td></tr> {% endcapture %}
    {% comment %}Microphone{% endcomment %}
    {% elsif equipment.equipment_type == 'microphone'%}
      {% assign microphone_type_1_title = 'Blue Yeti'%}
      {% include 'equipment-availability-badge' %}
      {% capture microphone_type_1_items %} {{ microphone_type_1_items }} <tr><td>{{ equipment.name }}</td><td><span class="badge {{ badge }}">{{ availability }}</span><br>{{ due_back_string }}</td></tr> {% endcapture %}
    {% comment %}GPS Unit{% endcomment %}
    {% elsif equipment.equipment_type == 'gps'%}
      {% assign gps_type_1_title = 'Garmin eTrex 30x'%}
      {% include 'equipment-availability-badge' %}
      {% capture gps_type_1_items %} {{ gps_type_1_items }} <tr><td>{{ equipment.name }}</td><td><span class="badge {{ badge }}">{{ availability }}</span><br>{{ due_back_string }}</td></tr> {% endcapture %}
    {% comment %}Tripod{% endcomment %}
    {% elsif equipment.equipment_type == 'tripod'%}
      {% assign tripod_type_1_title = 'Tripod'%}
      {% include 'equipment-availability-badge' %}
      {% capture tripod_type_1_items %} {{ tripod_type_1_items }} <tr><td>{{ equipment.name }}</td><td><span class="badge {{ badge }}">{{ availability }}</span><br>{{ due_back_string }}</td></tr> {% endcapture %}
    {% endif %}
  {% endfor %}

{% endconsume %}
