<footer class="footer">
  <div class="footer__panel footer__panel--about-us">
    <h5 class="footer__heading"><a class="footer__heading-link" href="{% path_to about %}" title="Learn about Albert R. Mann Library">About Us</a></h5>

    <p class="footer__mission">
      Supporting learning and research in the life sciences, agriculture, human ecology and applied social sciences.
    </p>

    {% comment %} About Us subnav with child pages {% endcomment %}
    {% with_scope handle: 'about' %}{% assign about_page = site.pages.first %}{% endwith_scope %}
    <ul class="footer__about-subnav">
      {% for child in about_page.children %}
        <li><a href="{% path_to child %}" title="{{ child.title }}">{{ child.title }}</a></li>
      {% endfor %}
    </ul>

    <h5 class="footer__heading"><a class="footer__heading-link" href="http://smartmap.mannlib.cornell.edu" title="Mann Library SmartMap">Floor Plans</a></h5>

    <ul>
      <li>
        <a href="http://smartmap.mannlib.cornell.edu/floor/0" title="Basement floor plan">Basement</a>
      </li>
      <li>
        <a href="http://smartmap.mannlib.cornell.edu/floor/1" title="First floor, floor plan">1st</a>
      </li>
      <li>
        <a href="http://smartmap.mannlib.cornell.edu/floor/2" title="Second floor, floor plan">2nd</a>
      </li>
      <li>
        <a href="http://smartmap.mannlib.cornell.edu/floor/3" title="Third floor, floor plan">3rd</a>
      </li>
    </ul>
  </div>

  <div class="footer__panel footer__panel--featured-plus-haiku ">
    <h5 class="footer__heading"><a class="footer__heading-link" href="{% path_to projects %}" title="View all projects">Featured Projects</a></h5>

    <ul>
      {% with_scope featured: true %}
        {% for project in contents.projects %}
          <li><a href="{% path_to project %}" title="View details of {{ project.title }}">{{ project.title }}</a></li>
        {% endfor %}
      {% endwith_scope %}
    </ul>

    <p>
      <a class="more-link" href="{% path_to projects %}" title="View all projects">
        More Projects
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>

    <h5 class="footer__heading"><a class="footer__heading-link" href="http://haiku.mannlib.cornell.edu" title="Visit the Mann Library Daily Haiku site">Daily Haiku</a></h5>

    <p class="footer__haiku">
      low tide<br>
      the mooring rope<br>
      taunt with moonlight
    </p>

    <p>
      <a class="more-link" href="http://haiku.mannlib.cornell.edu" title="Visit the Mann Library Daily Haiku site">
        Daily Haiku Archive
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
  </div>

  <div class="footer__panel footer__panel--contact-us">
    <h5 class="footer__heading">Contact Us</h5>

    <ul class="fa-ul">
      <li>
        <i class="fa-li fa fa-question-circle"></i>
        <a href="https://www.library.cornell.edu/ask" title="Request assistance from our friendly experts">Ask a Librarian</a>
      </li>
      <li>
        <i class="fa-li fa fa-envelope"></i>
        <a href="mailto:mann_circ@cornell.edu" title="Email the Mann Circulation Desk staff">mann_circ@cornell.edu</a>
      </li>
      <li>
        <i class="fa-li fa fa-phone"></i>
        607-255-3296
      </li>
      <li>
        <i class="fa-li fa fa-comments"></i>
        Chat with a Librarian
      </li>
      <li>
        <i class="fa-li fa fa-map-marker"></i>

        <div class="footer__address">
          <span class="footer__address-line">Mann Library</span>
          <span class="footer__address-line">237 Mann Drive</span>
          <span class="footer__address-line">Cornell University</span>
          <span class="footer__address-line">Ithaca, NY 14853</span>
        </div>

        <a class="more-link" href="https://goo.gl/maps/ZJvrC8S5ZVn" title="Get directions to Mann Library">
          Get Directions
          <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
      <li>
        <i class="fa-li fa fa-user"></i>
        <a href="{% path_to consultation-request %}" title="Submit a consultation request">Request a Consultation</a>
      </li>
      <li>
        <i class="fa-li fa fa-book"></i>
        <a href="{% path_to recommend-a-purchase %}" title="Submit a purchase recommendation for our collection">Recommend a Purchase</a>
      </li>
      <li>
        <i class="fa-li fa fa-comment"></i>
        <a href="{% path_to site-feedback %}" title="Send us feedback">Send Feedback</a>
      </li>
    </ul>
  </div>

  <div class="footer__bottomline">
    <ul class="footer__social inline">
      {% include 'social-media-links' %}
    </ul>

    <img class="footer__mann-logo" src="{{ 'cul-brand/mann-logo-white@2x.svg' | theme_image_url }}" alt="Mann Library logo">

    <p class="footer__copyright">&copy; {{ now | date: '%Y' }} Albert R. Mann Library</p>
  </div>
</footer>
