<footer class="footer">
  <div class="footer__panel footer__panel--about-us">
    <h5 class="footer__heading"><a class="footer__heading-link" href="{% path_to about %}" title="Learn about Albert R. Mann Library">About Us</a></h5>

    <p class="footer__mission">
      Supporting learning and research in the life sciences, agriculture, human ecology and applied social sciences.
    </p>

    {% comment %} About Us subnav with child pages {% endcomment %}
    {% with_scope handle: 'about' %}{% assign about_page = site.pages.first %}{% endwith_scope %}
    <ul class="footer__about-subnav">
      {% for child in about_page.children %}
        {% comment %} Skip the Floor Plans page since it's featured below {% endcomment %}
        {% if child.listed? and child.slug != 'floors' %}
          <li><a href="{% path_to child %}" title="{{ child.title }}">{{ child.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

    <h5 class="footer__heading"><a class="footer__heading-link" href="{% path_to floorplans %}" title="View our building maps">Floor Plans</a></h5>

    {% comment %} Floor plan subnav with child pages {% endcomment %}
    {% with_scope handle: 'floorplans' %}{% assign floorplans_page = site.pages.first %}{% endwith_scope %}
    <ul class="footer__about-subnav">
      {% for child in floorplans_page.children %}
        {% if child.listed? %}
          <li><a href="{% path_to child %}" title="{{ child.title }}">{{ child.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="footer__panel footer__panel--featured-plus-haiku ">
    <h5 class="footer__heading"><a class="footer__heading-link" href="{% path_to projects %}" title="View all projects">Featured Projects</a></h5>

    <ul>
      {% with_scope featured: true %}
        {% for project in contents.projects %}
          <li><a href="{% path_to project %}" title="View details of {{ project.title }}">{{ project.title }}</a></li>
        {% endfor %}
      {% endwith_scope %}
    </ul>

    <p>
      <a class="more-link" href="{% path_to projects %}" title="View all projects">
        More Projects
        <span class="fa fa-angle-double-right"></span>
      </a>
    </p>

    <h5 class="footer__heading"><a class="footer__heading-link" href="http://haiku.mannlib.cornell.edu" title="Visit the Mann Library Daily Haiku site" target="_blank">Daily Haiku</a></h5>

    {% include 'daily-haiku' %}

    <p>
      <a class="more-link" href="http://haiku.mannlib.cornell.edu" title="Visit the Mann Library Daily Haiku site" target="_blank">
        Daily Haiku Archive
        <span class="fa fa-angle-double-right"></span>
      </a>
    </p>
  </div>

  <div class="footer__panel footer__panel--contact-us">
    <h5 class="footer__heading">Contact Us</h5>

    <ul class="fa-ul">
      <li>
        <span class="fa-li fa fa-question-circle"></span>
        <a href="https://www.library.cornell.edu/ask" title="Request assistance from our friendly experts" target="_blank">Ask a Librarian</a>
      </li>
      <li>
        <span class="fa-li fa fa-envelope"></span>
        <a href="mailto:mann_circ@cornell.edu" title="Email the Mann Circulation Desk staff">mann_circ@cornell.edu</a>
      </li>
      <li>
        <span class="fa-li fa fa-phone"></span>
        <a href="tel:+1607-255-3296" title="Call us">607-255-3296</a>
      </li>
      <li>
        <span class="fa-li fa fa-comment"></span>
        <div id="libchat_d7ab5e7cb14cdb9891c00416e01551b4"></div>
      </li>
      <li>
        <span class="fa-li fa fa-map-marker"></span>

        <div class="footer__address">
          <span class="footer__address-line">Mann Library</span>
          <span class="footer__address-line">237 Mann Drive</span>
          <span class="footer__address-line">Cornell University</span>
          <span class="footer__address-line">Ithaca, NY 14853</span>
        </div>

        <a class="more-link" href="https://goo.gl/maps/ZJvrC8S5ZVn" title="Get directions to Mann Library" target="_blank">
          Get Directions
          <span class="fa fa-angle-double-right"></span>
        </a>
      </li>
      <li>
        <span class="fa-li fa fa-user"></span>
        <a href="{% path_to consultation-request %}" title="Submit a consultation request">Request a Consultation</a>
      </li>
      <li>
        <span class="fa-li fa fa-book"></span>
        <a href="{% path_to recommend-a-purchase %}" title="Submit a purchase recommendation for our collection">Recommend a Purchase</a>
      </li>
      <li>
        <span class="fa-li fa fa-comment"></span>
        <a href="{% path_to site-feedback %}" title="Send us feedback">Send Feedback</a>
      </li>
    </ul>
  </div>

  <div class="footer__bottomline">
    <ul class="footer__social inline">
      {% include 'social-media-links' with component: 'footer' %}
    </ul>

    <img class="footer__mann-logo" src="{{ 'cul-brand/mann-logo-white@2x.svg' | theme_image_url }}" alt="Mann Library logo">

    <p class="footer__copyright">&copy; {{ now | date: '%Y' }} Albert R. Mann Library</p>

    <a class="footer__accessibility" href="https://www.library.cornell.edu/web-accessibility" title="Web accesibility resources at Cornell" target="_blank">Web Accessibility Assistance</a>

    <a class="footer__admin" href="https://admin.mannlib.cornell.edu/locomotive" title="Sign in to manage the site">Admin</a>
  </div>
  <div id="libchat_85c16ce779fc1ab413219a49af71e80e"></div>
  {{ 'https://v2.libanswers.com/load_chat.php?hash=85c16ce779fc1ab413219a49af71e80e' | javascript_tag }}
  {{ 'https://v2.libanswers.com/load_chat.php?hash=d7ab5e7cb14cdb9891c00416e01551b4' | javascript_tag }}
</footer>
