{% editable_model special_collections_registrations, hint: 'View submitted registrations' %}{% endeditable_model %}

{% model_form 'special_collections_registrations', class: 'ui form success error mann-form', success: path, error: path %}
  {% comment %} Status messages from Locomotive {% endcomment %}
  {% if special_collections_registration.errors %}
    <div class="ui error message">
      <div class="header">Please address the following errors</div>

      <ul class="list">
        {% for error in special_collections_registration.errors %}
          <li>{{error[0] | capitalize}} -  {{error[1]}}</li>
        {% endfor %}
      </ul>
    </div>
  {% elsif special_collections_registration.errors == false %}
    <div class="ui icon success message">
      <span class="thumbs outline up icon"></span>

      <div class="content">
        <div class="header">Thank You!</div>

        <p>Your registration to view items from our special collections has been submitted successfully. We'll be in touch shortly to confirm your visit.</p>

        <p><strong>Please note that your request is not guaranteed until you receive confirmation from one of our staff members.</strong></p>
      </div>
    </div>
  {% endif %}

  {% comment %} Don't display the form after successful submission {% endcomment %}
  {% unless special_collections_registration.errors == false %}

    <h4 class="ui dividing header mann-form__header">Contact Information</h4>

    <div class="required field mann-form__compact">
      <label for="name">Name</label>
      <input type="text" id="name" name="content[name]" value="{{ special_collections_registration.name }}">
    </div>

    <div class="required field mann-form__compact">
      <label for="email">Email</label>
      <input type="email" id="email" name="content[email]" value="{{ special_collections_registration.email }}">
    </div>

    <div class="required field mann-form__compact">
      <label for="phone-local">Local Phone</label>
      <input type="tel" id="phone-local" name="content[phone_local]" value="{{ special_collections_registration.phone_local }}">
    </div>

    <div class="required field">
      <label for="mailing-local">Local Mailing Address</label>
      <textarea id="mailing-local" name="content[mailing_local]" rows="4">{{ special_collections_registration.mailing_local }}</textarea>
    </div>

    <div class="required field mann-form__compact">
      <label for="phone-home">Home Phone</label>
      <input type="tel" id="phone-home" name="content[phone_home]" value="{{ special_collections_registration.phone_home }}">
    </div>

    <div class="required field">
      <label for="mailing-home">Home Mailing Address</label>
      <textarea id="mailing-home" name="content[mailing_home]" rows="4">{{ special_collections_registration.mailing_home }}</textarea>
    </div>

    <div class="required field mann-form__compact">
      <label for="dept">Department</label>
      <input type="text" id="dept" name="content[department]" value="{{ special_collections_registration.department }}">
    </div>

    <div class="required field">
      <label for="affiliation">Affiliation</label>

      <select id="affiliation" class="ui dropdown mann-form__compact" name="content[affiliation]">
        <option value="">-- Select one --</option>
        {% for affiliation in contents.special_collections_registrations.affiliation_options %}
          <option value="{{ affiliation }}" {% if special_collections_registration.affiliation == affiliation %} selected {% endif %}>{{ affiliation }}</option>
        {% endfor %}
      </select>
    </div>

    <h4 class="ui dividing header mann-form__header">Visit Details</h4>

    <div class="ui tiny compact info message">
      <div class="header">
        Hours of Availability
      </div>
      <ul class="list">
        <li>One hour after Mann Library opens until 4pm, Monday through Friday</li>
      </ul>
      <p>Please refer to our <a href="/hours" title="Mann Library Hours" target="_blank">hours page</a> for the most up-to-date information.</p>
    </div>

    <div class="required field">
      <label for="date">Preferred Date and Time of Visit</label>
      <div class="ui calendar date-selector">
        <div class="ui input left icon">
          <span class="calendar icon"></span>
          <input type="text" id="date" name="content[date]" value="{{ special_collections_registration.date }}" placeholder="Enter Date &amp; Time">
          <div class="ui left pointing label">
            Minimum 24 hr advance notice
          </div>
        </div>
      </div>
    </div>

    <div class="required field">
      <div class="ui toggle checkbox">
        {% comment %}
          Need to set value to 1, otherwise Locomotive will submit 'on' when checked
          -- https://github.com/locomotivecms/engine/issues/399
        {% endcomment %}
        <input type="checkbox" id="usage-agreement" name="content[usage_agreement]" value="1" {% if special_collections_registration.usage_agreement | ceil == 1 %} checked {% endif %}>
        <label for="usage-agreement">I agree to abide by all the regulations set forth on this form or imposed at the time of viewing by Library Staff. I also agree not to publish any materials from Mann Library Special Collections without first obtaining legally required permissions.</label>
      </div>
    </div>

    <h4 class="ui dividing header mann-form__header">Requested Items</h4>

    <div class="ui tiny compact message">
      <p>Please <a href="https://newcatalog.library.cornell.edu" title="Search the library catalog for your items" target="_blank">use the catalog</a> to find the requested information for your items</p>
    </div>

    <div class="ui basic segment">
      {% for i in (1..5) %}
        {% include 'form-special-collections-item' %}
      {% endfor %}
    </div>

    <div class="field">
      <label for="additional-comments">Additional Comments <span class="mann-form__hint">Specific needs or project details that may help us suggest additional books, materials, resources, etc.</span></label>
      <textarea id="additional-comments" name="content[additional_comments]" rows="4">{{ special_collections_registration.additional_comments }}</textarea>
    </div>

    <button class="ui button" type="submit">Submit your registration</button>
  {% endunless %}
{% endmodel_form %}

{{ 'specialCollRegistration.bundle.js' | javascript_tag }}
