{% editable_model site_feedback, hint: 'View submitted feedback' %}{% endeditable_model %}

{% model_form 'site_feedback', class: 'ui form success error mann-form', success: path , error: path %}
  {% capture page_in_question %}
    {% if post? %}
      {{ site_feedback.url }}
    {% else %}
      {{ referer }}
    {% endif %}
  {% endcapture %}

  {% comment %} Status messages from Locomotive {% endcomment %}
  {% if site_feedback.errors %}
    <div class="ui error message">
      <div class="header">Please address the following errors</div>

      <ul class="list">
        {% for error in site_feedback.errors %}
          <li>{{error[0] | capitalize}} -  {{error[1]}}</li>
        {% endfor %}
      </ul>
    </div>
  {% elsif site_feedback.errors == false %}
    <div class="ui icon success message">
      <i class="thumbs outline up icon"></i>

      <div class="content">
        <div class="header">Thank You!</div>
        <p>We appreciate your feedback.</p>
      </div>
    </div>
  {% endif %}

  {% comment %} Don't display the form after successful submission {% endcomment %}
  {% unless site_feedback.errors == false %}
      <div class="required field mann-form__compact">
        <label>Name</label>
        <input type="text" name="content[name]" value="{{ site_feedback.name }}">
      </div>

      <div class="required field mann-form__compact">
        <label>Email</label>
        <input type="email" name="content[email]" value="{{ site_feedback.email }}">
      </div>

    <div class="required field">
      <label>Category</label>

      <select class="ui dropdown mann-form__compact" name="content[category]">
        <option value="">-- Select one --</option>
        {% for category in contents.site_feedback.category_options %}
          <option value="{{ category }}" {% if site_feedback.category == category %} selected {% endif %}>{{ category }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="required field">
      <label>Page in question</label>
      <textarea class="mann-form__url" name="content[url]" rows="2">{{ page_in_question | strip }}</textarea>
    </div>

    <div class="required field">
      <label>Feedback</label>
      <textarea name="content[feedback]" rows="4">{{ site_feedback.feedback }}</textarea>
    </div>

    <button class="ui button" type="submit">Send it our way</button>
  {% endunless %}
{% endmodel_form %}

{{ 'formSiteFeedback.bundle.js' | javascript_tag }}
