{% editable_model instruction_requests, hint: 'View submitted requests' %}{% endeditable_model %}

<div class="ui icon error message">
  <span class="exclamation circle icon"></span>
  <div class="content">
    <p>For the Fall 2020 semester, instruction support provided by Mann librarians will be handled primarily via synchronous guest lectures with Zoom or through packaged asynchronous content, such as pre-made tutorials and videos. Librarians will do their best to work with you to tailor instruction to your course needs.</p>
    <p>To request library instruction for your Fall classes, please submit the form below.</p>
  </div>
</div>

{% comment %}
  Please note: Two unusual/special cases for instruction types & location fields below
  -- 1. Need to append brackets to element name so that value is sent as an array for multiple select
  -- 2. Since the select field type in locomotive does not support multiple values or user specified content, we're using two fields:
        * `instruction_types_managed_list` field (field type: select) to manage the options
        * `insruction_types` field (field type: tags) to store the user selected and submitted values
{% endcomment %}

{% model_form 'instruction_requests', class: 'ui form success error mann-form', success: path, error: path %}
  {% comment %} Status messages from Locomotive {% endcomment %}
  {% if instruction_request.errors %}
    <div class="ui error message">
      <div class="header">Please address the following errors</div>

      <ul class="list">
        {% for error in instruction_request.errors %}
          <li>{{error[0] | capitalize}} -  {{error[1]}}</li>
        {% endfor %}
      </ul>
    </div>
  {% elsif instruction_request.errors == false %}
    <div class="ui icon success message">
      <span class="thumbs outline up icon"></span>

      <div class="content">
        <div class="header">Thank You!</div>
        <p>You will hear from one of our librarians within 24 hours.</p>
      </div>
    </div>
  {% endif %}

  {% comment %} Don't display the form after successful submission {% endcomment %}
  {% unless instruction_request.errors == false %}

    <h4 class="ui dividing header mann-form__header">Instruction/Workshop Information</h4>

    <div class="field mann-form__minimal">
      <label for="number-participants">Anticipated Number of Participants</label>
      <input type="text" id="number-participants" name="content[number_participants]" value="{{ instruction_request.number_participants }}">
    </div>

    <div class="field mann-form__compact">
      <label for="date-preferred">Preferred Date and Time of Instruction/Workshop</label>
      <div class="ui calendar date-selector">
        <div class="ui input left icon">
          <span class="calendar icon"></span>
          <input type="text" id="date-preferred" name="content[date_first]" value="{{ instruction_request.date_first }}" placeholder="Enter Date &amp; Time">
        </div>
      </div>
    </div>

    <div class="field mann-form__compact">
      <label for="date-2">Second Preference</label>
      <div class="ui calendar date-selector">
        <div class="ui input left icon">
          <span class="calendar icon"></span>
          <input type="text" id="date-2" name="content[date_second]" value="{{ instruction_request.date_second }}" placeholder="Enter Date &amp; Time">
        </div>
      </div>
    </div>

    <div class="field mann-form__compact">
      <label for="date-3">Third Preference</label>
      <div class="ui calendar date-selector">
        <div class="ui input left icon">
          <span class="calendar icon"></span>
          <input type="text" id="date-3" name="content[date_third]" value="{{ instruction_request.date_third }}" placeholder="Enter Date &amp; Time">
        </div>
      </div>
    </div>

    <div class="required field">
      <label for="needs">Instruction Needs and/or Learning Outcomes</label>
      <textarea id="needs" name="content[needs]" rows="4">{{ instruction_request.needs }}</textarea>
    </div>

    <div class="required field mann-form__compact">
      <label for="assignment">Is there an assignment related to the library instruction?</label>

      <select id="assignment" class="ui dropdown mann-form__compact" name="content[assignment]">
        <option value="">-- Select one --</option>
        {% for assignment in contents.instruction_requests.assignment_options %}
          <option value="{{ assignment }}" {% if instruction_request.assignment == assignment %} selected {% endif %}>{{ assignment }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="field">
      <label for="additional-info">If there is an assignment, please provide more details here</label>
      <textarea id="additional-info" name="content[additional_info]" rows="4">{{ instruction_request.additional_info }}</textarea>
    </div>

    <h4 class="ui dividing header mann-form__header">Contact Information</h4>

    <div class="required field mann-form__compact">
      <label for="name">Name</label>
      <input type="text" id="name" name="content[name]" value="{{ instruction_request.name }}">
    </div>

    <div class="required field mann-form__compact">
      <label for="email">Email</label>
      <input type="email" id="email" name="content[email]" value="{{ instruction_request.email }}">
    </div>

    <div class="field mann-form__compact">
      <label for="phone">Phone</label>
      <input type="tel" id="phone" name="content[phone]" value="{{ instruction_request.phone }}">
    </div>

    <div class="required field mann-form__compact">
      <label for="dept">Department</label>
      <input type="text" id="dept" name="content[department]" value="{{ instruction_request.department }}">
    </div>

    <div class="required field mann-form__compact">
      <label for="affiliation">Cornell Affiliation</label>

      <select id="affiliation" class="ui dropdown mann-form__compact" name="content[affiliation]">
        <option value="">-- Select one --</option>
        {% for affiliation in contents.instruction_requests.affiliation_options %}
          <option value="{{ affiliation }}" {% if instruction_request.affiliation == affiliation %} selected {% endif %}>{{ affiliation }}</option>
        {% endfor %}
      </select>
    </div>

    <h4 class="ui dividing header mann-form__header">Course Information</h4>

    <div class="required field mann-form__compact">
      <label for="course-name">Course Name</label>
      <input type="text" id="course-name" name="content[course_name]" value="{{ instruction_request.course_name }}"">
    </div>

    <div class="required field mann-form__minimal">
      <label for="course-number">Course Number</label>
      <input type="text" id="course-number" name="content[course_number]" value="{{ instruction_request.course_number }}">
    </div>

    <button class="ui button" type="submit">Submit your request</button>
  {% endunless %}
{% endmodel_form %}

{{ 'instructionRequest.bundle.js' | javascript_tag }}
