<header>
  <div class="cu-banner">
    <a class="cu-banner__insignia link--no-color" href="http://cornell.edu" title="Cornell.edu Homepage" target="_blank">
      <span class="cu-banner__uni-name link--no-color">Cornell University</span>
    </a>
  </div>

  <div class="mann-brand" href="/">
    <a class="mann-brand__logo" href="/" title="Home"></a>

    <h2 class="mann-brand__one-lib">
      <a class="link--no-color" href="http://library.cornell.edu" title="Cornell University Library" target="_blank">Cornell University Library</a>
    </h2>

    <h1 class="mann-brand__mannlib">
      <a class="link--no-color" href="/" title="Home">{{ site.name | upcase }}</a>
    </h1>
  </div>

  <div class="my-account">
    <a class="my-account__link" href="https://www.library.cornell.edu/myacct" title="Manage your library account" target="_blank">
      <i class="my-account__icon fa fa-fw fa-user"></i>
      My Account
    </a>
  </div>

  <button class="search__button" type="button">
    <i class="fa fa-search"></i>
  </button>

  <form action="{% path_to search %}" class="search" role="search">
    <div class="search__input ui left icon fluid input">
      <i class="search__input-icon search icon"></i>
      <input class="search__term" aria-label="Search this site" name="q" placeholder="Search this site" type="text">
      <input type="submit" value="Search" aria-hidden="true">
    </div>
  </form>

  <div class="todays-hours">
    <ul class="todays-hours__list">
      <li class="todays-hours__location">
        <a class="todays-hours__link" href="{% path_to hours %}">
          <span class="badge todays-hours__now {% if mannlib_hours.status_1707 == 'Open' %}is-open{% else %}is-closed{% endif %}">{{ mannlib_hours.status_1707 }}</span>
        </a>
        <span class="todays-hours__until">
          {% if mannlib_hours.hours_1707 %}
            {% if mannlib_hours.hours_1707 == '24 hours' %}
              {{ mannlib_hours.hours_1707 }}
            {% elsif mannlib_hours.hours_1707 contains 'Opens' %}
              {{ mannlib_hours.hours_1707 }}
            {% else %}
              {{ mannlib_hours.hours_1707 | date: '%l:%M %p' | downcase | replace: ':00', '' | prepend: 'until ' | replace: '12 am', 'Midnight' | replace: '12 pm', 'Noon'}}
            {% endif %}
          {% endif %}
        </span>
      </li>
      <li class="todays-hours__location">
        <span class="todays-hours__label">Lobby</span>
        <a class="todays-hours__link" href="{% path_to hours %}">
          <span class="badge todays-hours__now {% if mannlib_hours.status_1709 == 'Open' %}is-open{% else %}is-closed{% endif %}">{{ mannlib_hours.status_1709 }}</span>
        </a>
        <span class="todays-hours__until">
          {% if mannlib_hours.hours_1709 %}
            {% if mannlib_hours.hours_1709 == '24hours' %}
              {{ mannlib_hours.hours_1709 | replace: '24hours', '24 hours' }}
            {% elsif mannlib_hours.hours_1709 contains 'Opens' %}
              {{ mannlib_hours.hours_1709 }}
            {% else %}
            {{ mannlib_hours.hours_1709 | date: '%l:%M %p' | downcase | replace: ':00', '' | prepend: 'until ' | replace: '12 am', 'Midnight' | replace: '12 pm', 'Noon'}}
            {% endif %}
          {% endif %}
        </span>
      </li>
    </ul>

    <a class="todays-hours__more" href="{% path_to hours %}">
      All Hours
      <i class="fa fa-angle-double-right"></i>
    </a>
  </div>

  <nav class="site-nav" role="navigation" aria-label="Site navigation">
    <nav class="accessory-nav" role="navigation" aria-label="Accessory navigation">
      <button class="accessory-nav__button" type="button">
        <i class="fa fa-lg fa-bars"></i>
      </button>

      <ul class="accessory-nav__list">
        <li class="accessory-nav__item">
          <a class="accessory-nav__link" href="https://newcatalog.library.cornell.edu" title="Search the Library Catalog" target="_blank">
            <i class="accessory-nav__icon fa fa-fw fa-book"></i>
            Library Catalog
          </a>
        </li>
        <li class="accessory-nav__item">
          <a class="accessory-nav__link" href="{% path_to course-reserves %}" title="Find course reserves for your class">
            <i class="accessory-nav__icon fa fa-fw fa-bookmark"></i>
            Course Reserves
          </a>
        </li>
        <li class="accessory-nav__item">
          <a class="accessory-nav__link" href="https://www.library.cornell.edu/ask" title="Request assistance from our friendly experts" target="_blank">
            <i class="accessory-nav__icon fa fa-fw fa-question"></i>
            Ask a Librarian
          </a>
        </li>
      </ul>
    </nav>

    <ul class="site-nav__list">
      {% nav site, no_wrapper: true, active_class: active, snippet: nav-megamenu %}
    </ul>

    {% comment %} Activate dropdown with single tap on touch devices {% endcomment %}
    <script>
      $('.site-nav__list > li').doubleTapToGo();
    </script>
  </nav>
</header>
