<section class="available-now">
  <h4 class="available-now__heading lead-in">
    Today @ Mann
    <span class="available-now__datetime">{{ now | date: '%-I:%M %p' }}</span>
  </h4>

  {% include 'availnow-computers' %}

  <div class="available-now__grp available-now__study">
    {% include 'availnow-study' %}
  </div>

  <div class="available-now__grp available-now__consultation">
    <h5 class="available-now__subheading">
      <a class="available-now__link" href="{% path_to consultation-services %}" title="View all consultation services">Consultation</a>
    </h5>

    <ul>
      <li class="available-now__status available-now__status--available">
        <i class="fa fa-fw fa-check-square"></i> Reference
      </li>
      <li class="available-now__status available-now__status--unavailable">
        <i class="fa fa-fw fa-minus-square"></i> GIS
      </li>
      <li class="available-now__status available-now__status--available">
        <i class="fa fa-fw fa-check-square"></i> CISER
      </li>
      <li class="available-now__status available-now__status--available">
        <i class="fa fa-fw fa-check-square"></i> Knight Writing Institute
      </li>
    </ul>
  </div>
</section>

{% include 'spotlights-carousel' %}

{% comment %}
  Pass curated event-locations and event_types to Vue app
{% endcomment %}

{% capture event_locations %}
  {% for event_location in contents.event_locations %}
    {% if (forloop.last)%}
    {"curated_event_location_name":"{{ event_location.name }}","alternate_event_location_names":"{{ event_location.alternate_names | join: ', ' }}"}
  {% else %}
    {"curated_event_location_name":"{{ event_location.name }}","alternate_event_location_names":"{{ event_location.alternate_names | join: ', ' }}"}-
    {% endif %}
  {% endfor %}
{% endcapture %}

{% capture event_types %}
  {% for event_type in contents.event_types %}
    {% if (forloop.last)%}
      {"curated_event_type_name":"{{ event_type.name }}","alternate_event_type_names":"{{ event_type.alternate_names | join: ', ' }}"}
    {% else %}
      {"curated_event_type_name":"{{ event_type.name }}","alternate_event_type_names":"{{ event_type.alternate_names | join: ', ' }}"}-
    {% endif %}
  {% endfor %}
{% endcapture %}

<router-view
r25-webservice-authorization = '{{ site.metafields.sensitive_data.r25_webservice_authorization }}'
default-number-of-days = '{{ site.metafields.events_config.default_number_of_days | default: 30 }}'
homepage-r25-default-number-of-days = '{{ site.metafields.events_config.homepage_r25_default_number_of_days | default: 3 }}'
events-page-path = '{% path_to events-calendar %}'
event-locations = '{{ event_locations | default: null }}'
event-types = '{{ event_types | default: null }}'
></router-view>

{{ 'homePageEvents.bundle.js' | javascript_tag }}

<section class="meet-experts">
  <h4 class="meet-experts__heading lead-in">Meet Our Experts</h4>

  {% include 'meet-experts' %}

  <a class="meet-experts__all-experts more-link" href="{% path_to staff %}" title="View all Mann librarians and staff">
    Meet All Our Experts <i class="fa fa-angle-double-right"></i>
  </a>
</section>

<!--  Libcal MyScheduler Widget-->
{{ '//api3.libcal.com/js/myscheduler.js?002' | javascript_tag }}
