{% comment %}
  Temporarily disable available now for Fall 2020 (COVID-19)
{% endcomment %}
{% comment %} <section class="available-now" aria-labelledby="available-now-label">
  <h4 class="available-now__heading lead-in" id="available-now-label">
    Available Now
    <span class="available-now__datetime">{{ now | date: '%-I:%M %p' }}</span>
  </h4>

  {% include 'availnow-computers' %}

  <div class="available-now__grp available-now__study">
    {% include 'availnow-study' %}
  </div>
</section> {% endcomment %}

<div class="quiet-study">
  <div class="quiet-study__icon">
    <img src="{{ 'home-callout_our-collection_covid.png' | theme_image_url }}" alt="quiet study icon">
  </div>
  <div class="quiet-study__details">
    <p>Mann Library offers quiet study on the first and second floors, maintaining a minimum physical distance of 6 feet.<p>
    <p>Please respect others in this shared space by <a href="https://covid.cornell.edu" title="Cornell Universiity's COVID-19 and Reactivation Planning">complying with your Behavioral Compact</a>.</p>
    <p><em>Quiet study reservations coming soon.</em></p>
    {% comment %}
      Reservation system is still a big unknown
    {% endcomment %}
    {% comment %} <a class="quiet-study__reserve ui teal button" href="https://chatter.cornell.edu" alt="Reserve your quiet study in Mann Library via Cornell Chatter">Reserve quiet study</a> {% endcomment %}
  </div>
</div>

{% comment %} 
  New callouts for Fall 2019 as per Erica's request
{% endcomment %}
{% assign home_callouts = "Research Support" | split: ', ' %}

<div class="home-callouts">
  {% for section in home_callouts %}
    {% include 'home-callout' with section: section %}
  {% endfor %}
</div>

{% include 'spotlights-carousel' %}

{% comment %}
  Temporarily disable upcoming events for Fall 2020 (COVID-19)
{% endcomment %}

{% comment %}
  Pass path to events page as JS variable, and use in Vue app
{% endcomment %}
{% comment %} <script type="text/javascript">
  var path_to_homepage = '{% path_to page.handle %}';
</script> {% endcomment %}

{% comment %}
  Pass curated event-locations and event_types to Vue app
{% endcomment %}

{% comment %} {% capture event_locations %}
  {% for event_location in contents.event_locations %}
    {% if (forloop.last)%}
      {"curated_event_location_name":"{{ event_location.name | escape }}","alternate_event_location_names":"{{ event_location.alternate_names | join: ', ' | escape }}","smartmap_url":"{{ event_location.smartmap_url | escape }}"}
    {% else %}
      {"curated_event_location_name":"{{ event_location.name | escape }}","alternate_event_location_names":"{{ event_location.alternate_names | join: ', ' | escape  }}","smartmap_url":"{{ event_location.smartmap_url | escape }}"}-
    {% endif %}
  {% endfor %}
{% endcapture %}

{% capture event_types %}
  {% for event_type in contents.event_types %}
    {% if (forloop.last)%}
      {"curated_event_type_name":"{{ event_type.name | escape }}","alternate_event_type_names":"{{ event_type.alternate_names | join: ', ' | escape }}", "homepage_event_type_filter":"{{ event_type.homepage_events_filter }}"}
    {% else %}
      {"curated_event_type_name":"{{ event_type.name | escape }}","alternate_event_type_names":"{{ event_type.alternate_names | join: ', ' | escape }}", "homepage_event_type_filter":"{{ event_type.homepage_events_filter }}"}-
    {% endif %}
  {% endfor %}
{% endcapture %}

<router-view
r25-webservice-authorization = '{{ site.metafields.sensitive_data.r25_webservice_authorization }}'
default-number-of-days = '{{ site.metafields.events_config.default_number_of_days | default: 30 }}'
homepage-r25-default-number-of-days = '3'
events-page-path = '{% path_to events-calendar %}'
event-locations = '{{ event_locations | default: null }}'
event-types = '{{ event_types | default: null }}'
></router-view>

{{ 'homePageEvents.bundle.js' | javascript_tag }} {% endcomment %}

<section class="meet-experts" aria-labelledby="meet-experts-label">
  <h4 class="meet-experts__heading lead-in" id="meet-experts-label">
    <a class="meet-experts__heading-link" href="{% path_to mann-experts %}" title="View all Mann librarians and staff">
      Meet Our Experts
      <button class="meet-experts__all-button">All Experts</button>
    </a>
  </h4>

  {% include 'meet-experts' %}
</section>

{{ 'carousels.bundle.js' | javascript_tag }}

<!--  Libcal MyScheduler Widget-->
{{ '//api3.libcal.com/js/myscheduler.min.js?002' | javascript_tag }}
