<tbody>
  <tr>
    {% unless category == "Building" %}
      <th class="hours-weekly__grouping-name hours-weekly__data" colspan="8">{{ category }}</th>
    {% endunless %}
    {% for week in weeks %}
      {% for day in week[1] %}
        {% if day[0][2] == category %}
          <tr>
            <td class="hours-weekly__location hours-weekly__data">
              {% if day[0][1] == '' %}
                {{ day[0][0] }}
              {% else %}
                <a href="{{ day[0][1] }}">{{ day[0][0] }}</a>
              {% endif %}
            </td>

            {% for time in day[1] %}
              <td class="{% if forloop.index == day_today %}hours-weekly__today{% endif %} hours-weekly__data">
                <span class="hours-weekly__hours">{{ time[0] | replace: "Hours", "hrs" | replace: "Appointment", "Appt" }}</span>
                {% unless time[1] == nil %}
                  <span class="badge badge-alert hours-weekly__exception">{{ time[1] }}</span>
                {% endunless %}
              </td>
            {% endfor %}
          </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </tr>
</tbody>
