<nav class="hours-weekly__nav">
  <div class="ui tiny blue buttons">
    <button class="ui button disabled js-hours-prev">
      <i class="fa fa-chevron-left"></i>
    </button>

    <button class="ui button disabled js-hours-today">Today</button>

    <button class="ui button js-hours-next">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</nav>

<nav class="hours-weekly__switch-view">
  <div class="ui tiny basic buttons">
    <button class="ui active button js-hours-week">Week</button>

    <button class="ui button js-hours-month">Month</button>
  </div>
</nav>

<a class="hours-weekly__all-cul ui small basic label" href="https://www.library.cornell.edu/libraries" title="Hours for all Cornell libraries" target="_blank">
  All Cornell libraries
  <i class="hours-weekly__all-cul-icon external link icon"></i>
</a>

<div id="libcal-monthly-hours"></div>

<div id="libcal-weekly-hours">
  {% for weeks in mannlib_weekly_hours.weekly_hours %}
    {% if forloop.first %}
      {% assign day_today = now | date: "%w" | plus: 1 %}
    {% else %}
      {% assign day_today = nil %}
    {% endif %}

    <table class="hours-weekly week-{{forloop.index0}}" style="{% if day_today == nil %}display:none;{% endif %}">
      <thead>
        <tr>
          <th class="hours-weekly__month hours-weekly__data">{{ weeks[1][0][0] | date: "%b" }}</th>
          {% for week in weeks %}
            {% for date in week[0] %}
              <th class="{%if forloop.index == day_today %}hours-weekly__today{% endif %} hours-weekly__data">
                <span class="hours-weekly__day-of-week">{{ date | date: "%a" }}</span>
                <span class="hours-weekly__day-of-month">{{ date | date: '%d' | ceil }}</span>
              </th>
            {% endfor %}
          {% endfor %}
        </tr>
      </thead>

      {% comment %} Build array for categories {% endcomment %}
      {% assign categories = "Building, Service Desks, Consultation Services" | split: ", " %}

      {% for category in categories %}
        {% include hours-category %}
      {% endfor %}
    </table>
  {% endfor %}
</div>

{{ 'https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js' | javascript_tag }}
{{ 'hours.bundle.js' | javascript_tag }}
{{ '//api3.libcal.com/js/hours_month.js?002' | javascript_tag }}
