{% comment %} Select 3 librarians to feature {% endcomment %}
{% with_scope librarian: true %}
  {% assign all_librarians = contents.staff.all | shuffle %}
  {% assign featured_librarians = contents.staff.all | shuffle | slice: 0, 3 %}
{% endwith_scope %}

<div class="meet-experts__contain">
  <span class="spotlights__nav spotlights__nav--prev js-meet-experts-prev"><i class="fa fa-angle-left fa-inverse fa-5x"></i></span>

  <div class="meet-experts__librarians">
    {% for person in all_librarians %}
      <div class="meet-experts__featured">
        {% assign placeholder_image = 'placeholder.jpg' | theme_image_url %}
        <img class="meet-experts__photo {% unless person.photo.url %}meet-experts__photo--placeholder{% endunless %}" src="{{ person.photo.url | resize: '500x500#n' | default: placeholder_image }}">

        <h5 class="meet-experts__name">{{ person.first_name }} {{ person.last_name }}</h5>

        <span class="meet-experts__title">{{ person.title }}</span>

        {% if person.expertise.size > 0 %}
          <h6 class="meet-experts__subheading">Areas of Expertise</h6>

          <ul>
            {% for skill in person.expertise %}
              <li class="meet-experts__list-item">{{ skill }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if person.departments.size > 0 %}
          <h6 class="meet-experts__subheading">Liaison to</h6>

          <ul>
            {% for dept in person.departments %}
              <li class="meet-experts__list-item">{{ dept.name }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <a href="#">
          <button class="meet-experts__request-consultation">Book a Consultation</button>
        </a>

        <a class="meet-experts__profile-link" href="{% path_to person %}" title="View full profile for {{ person.first_name }}">
          View Profile <i class="fa fa-angle-double-right"></i>
        </a>
      </div>
    {% endfor %}
  </div>

  <span class="spotlights__nav spotlights__nav--next js-meet-experts-next"><i class="fa fa-angle-right fa-inverse fa-5x"></i></span>
</div>

{{ 'experts.bundle.js' | javascript_tag }}
