<div id="js-space-{{ space.reserve_sys_id }}" class="js-sui-modal ui fullscreen long modal scrolling">
  <i class="close fa fa-times"></i>
  <div class="header">
    Reserve {{ space.name }}
  </div>

  <iframe title="LibCal reservation form" src="{{ space.libcal_public_page_url}}" width="100%" height="625"></iframe>
</div>

<a class="js-modal-libcal ui labeled icon button space-finder__reserve js-spacefinder-link {% if indiv_space %}space__reserve{% endif %}" title="Reserve this space" data-spaceid="{{ space.reserve_sys_id }}">

{{ 'modalLibcal.bundle.js' | javascript_tag }}
