<h4 class="{{ component }}__section-heading">{{ child.title }}</h4>

{% comment %}{{ child.editable_elements }}{% endcomment %}

<ul class="{{ component }}__subpage-list">
  {% comment %} Manually build subnav for Find a Space using array constructed in spaces-subnav {% endcomment %}
  {% if child.slug == 'spaces' %}
    {% for type in space_types %}
      {% comment %} Split out the space type name from the path/slug {% endcomment %}
      {% assign type_deets = type | split: '--' %}

      <li class="{{ component }}__subpage"><a class="{{ component }}__subpage-link" href="/use/spaces/{{ type_deets[1] }}">{{ type_deets[0] }}</a></li>
    {% endfor %}
  {% comment %} Otherwise, build the subnav via site hierarchy {% endcomment %}
  {% else %}
    {% for grandchild in child.children %}
      {% if grandchild.listed? and grandchild.published? %}
        <li class="{{ component }}__subpage">
          <a
            class="{{ component }}__subpage-link"
            href="{% path_to grandchild %}"
            {% if grandchild.redirect_url contains 'http' %}
              target="_blank"
            {% endif %}
          >
            {{ grandchild.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
</ul>
