<div class="space-finder__cards ui three stackable cards">
  {% for space in spaces_collection %}
    {% include 'room-availability-logic' %}
    {% include 'space-hours' %}

    {% assign quiet_study = false %}

    {% for study_type in space.spaces_study_types %}
      {% if study_type._label == "Quiet" %}
        {% assign quiet_study = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% capture card_link_attr %}href="{% path_to space %}" title="View details for {{ space.name }}"{% endcapture %}

    <div class="ui raised link card">
      <a class="image" {{ card_link_attr }}>
        <img src="{{ space.photo.url | resize: '700x475#' }}" alt="photo of {{ space.name }}">
      </a>
      <div class="content js-spacefinder-content" data-link="{% path_to space %}">
        <h3 class="space-finder__name">{{ space.name }}</h3>

        <div class="meta space-finder__card-meta">
          {% if space_status %}
              <a class="js-spacefinder-link" href="{% path_to hours %}" title="View all hours">
                <span class="badge {% if space_status == 'Open' %}badge-success{% else %}badge-error{% endif %}">{{ space_status }}
                {% if space_hours %}
                  {% if space_hours == '24 hours' %}
                    {{ space_hours }}
                  {% else %}
                    {{ space_hours | prepend: 'until '}}
                  {% endif %}
                {% endif %}
                </span>
              </a>
          {% endif %}

          <span class="right floated">
            {% if space.smartmap_url.size > 0 %}
              <a class="js-spacefinder-link right floated" href="{{ space.smartmap_url }}" title="Map it" target="_blank">
                <i class="fa fa-map-marker"></i>
                {{ space.floor._label }}
              </a>
            {% else %}
              {{ space.floor._label }}
            {% endif %}
          </span>

          {% if spaces_type._slug == 'study' %}
            {% if quiet_study %}
              <span class="space-finder__quiet" data-tooltip="quiet study" data-position="bottom left" data-inverted="">
                <span class="fa-stack">
                  <i class="fa fa-volume-up fa-stack-1x"></i>
                  <i class="space-finder__quiet-ban fa fa-ban fa-stack-2x"></i>
                </span>
              </span>
            {% endif %}
          {% elsif spaces_type._slug == 'classroom' or spaces_type._slug == 'computing-facilities' %}
            {% comment %} Need logic here to first see if room is available (all but stone computing center) {% endcomment %}
            {% comment %} <i class="fa fa-desktop"></i> 27 {% endcomment %}
          {% endif %}
        </div>

        {% if space.reservation_system %}
          <div class="description">
            {% include 'spaces-reservable-button' %}

            {% include 'room-availability-next' %}
          </div>
        {% elsif space.avail_url %}
          {% comment %}This is completely unnecessary but Engine refuses to cooperate otherwise...don't ask{% endcomment %}
          {% unless space.avail_url == "" %}
            <div class="description">
              <div class="space-finder__loanable ui orange right ribbon label">
                <i class="key icon"></i>
                {{ space.loan_period }} loan
              </div>

              <span class="space-finder__checkout">Check out key from <a class="js-spacefinder-link" href="http://smartmap.mannlib.cornell.edu/location/circulation%20services" title="Map it" target="_blank">circulation desk</a></span>

              {% include 'room-availability-next' %}
            </div>
          {% endunless %}
        {% endif %}

        {% if space.note %}
          <em class="space-finder__note">{{ space.note }}</em>
        {% endif %}
      </div>

      <a class="extra content space-finder__card-meta" {{ card_link_attr }}>
        <span class="right floated">
          {% if space.reservations_required_in_advance %}
          {% elsif space.reservation_system or space.avail_url %}
          {% comment %}This is completely unnecessary but Engine refuses to cooperate otherwise...don't ask{% endcomment %}
            {% if space.reservation_system or space.avail_url != "" %}
              <span class="space-finder__availability--{{ room_availability | downcase }}"><i class="fa {{ room_available_icon }}"></i> {{ room_availability }}</span>
           {% endif %}

          {% endif %}
        </span>

        <span>
          {% if space.capacity == '1' %}
            <i class="fa fa-user"></i>
          {% else %}
            <i class="fa fa-users"></i>
          {% endif %}

          {% if space.capacity == 'N/A' %}
            open area
          {% else %}
            {{ space.capacity }} max
          {% endif %}
        </span>
      </a>
    </div>
  {% endfor %}
</div>

{{ 'spacesCards.bundle.js' | javascript_tag }}
