<div class="ui three stackable cards space-finder__cards">
  {% for space in spaces_collection %}
    {% include 'room-availability-logic' %}

    {% assign quiet_study = false %}

    {% for study_type in space.spaces_study_types %}
      {% if study_type._label == "Quiet" %}
        {% assign quiet_study = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% capture card_link_attr %}href="{% path_to space %}" title="View details for {{ space.name }}"{% endcapture %}

    <div class="ui raised link card">
      <a class="image" {{ card_link_attr }}>
        <img src="{{ space.photo.url | resize: '700x475#' }}" alt="photo of {{ space.name }}">
      </a>
      <div class="content">
        <a {{ card_link_attr }}>
          <h3 class="space-finder__name">{{ space.name }}</h3>

          <div class="meta space-finder__card-meta">
            <span class="right floated">
              {% if spaces_type._slug == 'study' %}
                {% if quiet_study %}
                  <span class="space-finder__quiet" data-tooltip="quiet study" data-position="left center" data-inverted="">
                    <i class="fa fa-volume-down ui icon"></i>
                  </span>
                {% endif %}
              {% elsif spaces_type._slug == 'classroom' or spaces_type._slug == 'computing-facilities' %}
                {% comment %} Need logic here to first see if room is available (all but stone computing center) {% endcomment %}
                <i class="fa fa-desktop"></i> 27
              {% endif %}
            </span>

            <a href="{% path_to hours %}" title="View all hours"><span class="badge badge-success">Open until 2am</span></a>
          </div>
        </a>
        {% if space.reservation_system %}
          <div class="description">
            {% include 'spaces-reservable-button' %}

            {% include 'room-availability-next' %}
          </div>
        {% elsif space.avail_url %}
          {% comment %}This is completely unnecessary but Engine refuses to cooperate otherwise...don't ask{% endcomment %}
          {% unless space.avail_url == "" %}
            <div class="description">
              <a class="ui orange right ribbon label" {{ card_link_attr }}>
                <i class="fa fa-key icon"></i>
                {{ space.loan_period }} loan
              </a>

              <span class="space-finder__checkout"><a {{ card_link_attr }}>Check out key from</a> <a href="http://smartmap.mannlib.cornell.edu/location/circulation%20services" title="Map it">circulation desk</a></span>

              <a {{ card_link_attr }}>
                {% include 'room-availability-next' %}
              </a>
            </div>
          {% endunless %}
        {% endif %}
      </div>

      <a class="extra content space-finder__card-meta" {{ card_link_attr }}>
        <span class="right floated">
          {% if space.reservations_required_in_advance %}
          {% elsif space.reservation_system or space.avail_url %}
          {% comment %}This is completely unnecessary but Engine refuses to cooperate otherwise...don't ask{% endcomment %}
            {% if space.reservation_system or space.avail_url != "" %}
              <span class="space-finder__availability--{{ room_availability | downcase }}"><i class="fa {{ room_available_icon }}"></i> {{ room_availability }}</span>
           {% endif %}

          {% endif %}
        </span>

        <span>
          {% if space.capacity == '1' %}
            <i class="fa fa-user"></i>
          {% else %}
            <i class="fa fa-users"></i>
          {% endif %}

          {% if space.capacity == 'N/A' %}
            open area
          {% else %}
            {{ space.capacity }} max
          {% endif %}
        </span>
      </a>
    </div>
  {% endfor %}
</div>
