{% comment %} Filter on active spotlights {% endcomment %}
{% with_scope end_date.gte: now, start_date.lte: now %}
  {% assign active_spotlights = contents.spotlights.all %}
{% endwith_scope %}

{% comment %} Build div containing images for all active spotlights {% endcomment %}
{% capture spotlight_images %}
  <div class="spotlights__images">
    {% for spotlight in active_spotlights %}
      <img src="{{ spotlight.image.url | image_url }}" alt="{{ spotlight.name }}" title="{{ spotlight.caption }}">
    {% endfor %}
  </div>
{% endcapture %}

<section class="spotlights">
  <div class="carousel__contain">
    {% comment %} Use carousel if we have multiple active spotlights {% endcomment %}
    {% if active_spotlights.size > 1 %}
      <span class="carousel__nav carousel__nav--prev js-spotlights-prev"><i class="fa fa-angle-left fa-inverse fa-5x"></i></span>

      {{ spotlight_images }}

      <span class="carousel__nav carousel__nav--next js-spotlights-next"><i class="fa fa-angle-right fa-inverse fa-5x"></i></span>

      {{ 'spotlights.bundle.js' | javascript_tag }}

    {% comment %} Otherwise, just display a single image {% endcomment %}
    {% comment %} @todo: We should probably handle the inevitable case where there are no active spotlights {% endcomment %}
    {% else %}
      {{ spotlight_images }}
    {% endif %}
  </div>
</section>
