{% for spotlight in spotlights %}
  {% capture spotlight_image %}<img src="{{ spotlight.image.url | image_url }}" alt="{{ spotlight.name }}" title="{{ spotlight.caption }}">{% endcapture %}

  {% if spotlight.url %}
    <a href="{{ spotlight.url }}">{{ spotlight_image }}</a>
  {% else %}
    {{ spotlight_image }}
  {% endif %}

  {% assign counter = counter | plus: 1 %}

  {% comment %} Limit based on passed variable {% endcomment %}
  {% if counter == max %}
    {% break %}
  {% endif %}
{% endfor %}
