{% for spotlight in spotlights %}
  {% capture spotlight_image %}<img data-lazy="{{ spotlight.image.url }}" alt="{{ spotlight.name }}" title="{{ spotlight.caption }}">{% endcapture %}

  {% if spotlight.url.size > 0 %}
    <a href="{{ spotlight.url }}">{{ spotlight_image }}</a>
  {% else %}
    <span>{{ spotlight_image }}</span>
  {% endif %}

  {% assign counter = counter | plus: 1 %}

  {% comment %} Limit based on passed variable {% endcomment %}
  {% if counter == max %}
    {% break %}
  {% endif %}
{% endfor %}
