{% for person in contents.staff %}
  <div class="employee card" data-last_name="{{ person.last_name }}" data-first_name="{{ person.first_name }}" data-division="{{ person.division.name }}">
    <div class="image">
      {% assign placeholder_image = 'placeholder.jpg' | theme_image_url %}
      <img class="ui image staff-directory__photo {% unless person.photo.url %}staff-directory__photo--placeholder{% endunless %}" src="{{ person.photo.url | default: placeholder_image }}">
    </div>
    <div class="content">
      <div class="header">{{ person.last_name }}, {{ person.first_name }}</div>
      <div class="staff-directory__position">{{ person.title }}</div>
      <div class="staff-directory__contact">
        <a href="https://www.cornell.edu/search/people.cfm?netid={{ person.netid }}" class="left floated">
          <i class="fa fa-envelope icon"></i> {{ person.netid }}
        </a>
        <a href="https://www.cornell.edu/search/people.cfm?netid={{ person.netid }}" class="right floated">
          <i class="fa fa-phone icon"></i> 607-25{{ person.phone }}
        </a>
      </div>

      {% if person.libcal_uid.size > 0 %}
        {% include 'staff-book-consultation' with libcal_uid: person.libcal_uid %}
      {% endif %}
    </div>
    <div class="extra content">
      <a href="{% path_to person.division %}" title="Learn more about {{ person.division.name }}" class="staff-directory__division">
        {% if person.division.name contains 'ITS' %}
          ITS
        {% else %}
          {{ person.division.name }}
        {% endif %}
      </a>
    </div>
  </div>
{% endfor %}
