{% for person in contents.staff %}
  <tr class="employee" data-last_name="{{ person.last_name }}" data-first_name="{{ person.first_name }}" data-division="{{ person.division.name }}">
    <td>
      <div class="staff-directory__header">
        {% assign placeholder_image = 'placeholder.jpg' | theme_image_url %}
        <img class="ui tiny rounded left floated image staff-directory__photo {% unless person.photo.url %}staff-directory__photo--placeholder{% endunless %}" alt="{{ person.first_name }} {{ person.last_name }} headshot" src="{{ person.photo.url | default: placeholder_image }}">

        <div class="content">
          <strong>{{ person.last_name }}, {{ person.first_name }}</strong>
          <span class="staff-directory__position">{{ person.title }}</span>
          {% if person.libcal_uid.size > 0 %}
            {% include 'staff-book-consultation' with libcal_uid: person.libcal_uid, caller: 'table' %}
          {% endif %}
        </div>
      </div>
    </td>
    {% unless current_division %}
      <td class="top aligned">
        <a href="{% path_to person.division %}" title="Learn more about {{ person.division.name }}">
          {% if person.division.name contains 'ITS' %}
            ITS
          {% else %}
            {{ person.division.name }}
          {% endif %}
        </a>
      </td>
    {% endunless %}
    <td class="top aligned">
      <a href="https://www.cornell.edu/search/people.cfm?netid={{ person.netid }}" title="Contact details for {{ person.first_name }}" target="_blank">
        <span class="envelope icon"></span> {{ person.netid }}
      </a>
    </td>
    <td class="top aligned">
      {% if person.phone.size > 0 %}
        <a href="tel:+1607-25{{ person.phone }}" title="Call {{ person.first_name }}">
            <span class="phone icon"></span> 607-25{{ person.phone }}
        </a>
      {% endif %}
    </td>
  </tr>
{% endfor %}
