{% for person in contents.staff %}
  <tr class="employee" data-last_name="{{ person.last_name }}" data-first_name="{{ person.first_name }}" data-division="{{ person.division.name }}">
    <td>
      <div class="staff-directory__header">
        {% assign placeholder_image = 'placeholder.jpg' | theme_image_url %}
        <img class="ui tiny rounded left floated image staff-directory__photo {% unless person.photo.url %}staff-directory__photo--placeholder{% endunless %}" src="{{ person.photo.url | default: placeholder_image }}">

        <div class="content">
          <strong>{{ person.last_name }}, {{ person.first_name }}</strong>
          <span class="staff-directory__position">{{ person.title }}</span>
        </div>
      </div>
    </td>
    {% unless current_division %}
      <td class="top aligned">
        <a href="{% path_to person.division %}" title="Learn more about {{ person.division.name }}">
          {% if person.division.name contains 'ITS' %}
            ITS
          {% else %}
            {{ person.division.name }}
          {% endif %}
        </a>
      </td>
    {% endunless %}
    <td class="top aligned">{{ person.netid }}</td>
    <td class="top aligned">607-25{{ person.phone }}</td>
  </tr>
{% endfor %}
