{% comment %}
  Only include the LibCal script if rendering a single button
  -- otherwise, the requesting page will handle this call
  -- avoids multiple calls for this resource when rendering multiple buttons
{% endcomment %}
{% if flying_solo %}
  <!--  Libcal MyScheduler Widget-->
  {{ '//api3.libcal.com/js/myscheduler.min.js?002' | javascript_tag }}
{% endif %}

<script>
  jQuery(function(){
     jQuery("#mySched{{ libcal_uid }}{% if caller %}--{{ caller }}{% endif %}").LibCalMySched({ iid: 973, uid: {{ libcal_uid | default: 0 }}, gid: {{ libcal_gid | default: 0 }},  width: 500, height: 450 });
  });
</script>

<a id="mySched{{ libcal_uid }}{% if caller %}--{{ caller }}{% endif %}" class="staff-directory__book-consultation {% if class %}{{ class }}{% endif %} ui mini button" href="#">Book a Consultation</a>
