---
title: Spaces template page
content_type: spaces
---
{% extends layouts/default %}

{% block 'main' %}
  <img class="space__photo" src="{{ space.photo.url | resize: '600x407#' }}" alt="photo of {{ space._label }}">

  {% comment %}<a href="{% path_to hours %}" title="View all hours"><span class="badge badge-success">Open until 2am</span></a>{% endcomment %}

  {% if space.note %}
    <em class="space-finder__note">{{ space.note }}</em>
  {% endif %}

  <p>{{ space.description }}</p>

  {% include 'room-availability-variables' %}

  {% include 'room-availability-logic' %}

  {% if space.reservation_system %}
    {% include 'spaces-reservable-button' with indiv_space: true %}
  {% elsif space.avail_url %}
    {% comment %}This is completely unnecessary but Engine refuses to cooperate otherwise...don't ask{% endcomment %}
    {% unless space.avail_url == "" %}
      <div class="ui orange ribbon label">
        <i class="fa fa-key icon"></i>
        {{ space.loan_period }} loan
      </div>

      <span class="space-finder__checkout">Check out key from <a href="http://smartmap.mannlib.cornell.edu/location/circulation%20services" title="Map it">circulation desk</a></span>
    {% endunless %}
  {% endif %}
  {% if space.reservations_required_in_advance %}
  <p>Reservations required in advance</p>
  {% elsif space.reservation_system or space.avail_url %}
    {% comment %}This is completely unnecessary but Engine refuses to cooperate otherwise...don't ask{% endcomment %}
    {% if space.reservation_system or space.avail_url != "" %}
      <div class="space__availability--{{ room_availability | downcase }}">
        <i class="fa {{ room_available_icon }}"></i> {{ room_availability }}
        {% if room_availability == 'Unavailable' %}
          {% if next_available %}
            <p>Next Available: {{ next_available | date: '%-I:%M %p' }}</p>
          {% endif %}
        {% endif %}
       </div>
     {% endif %}
  {% endif %}

  <dl class="space__rundown">
    {% if space.room %}
      <dt class="space__field-name">Room</dt>
      <dd>{{ space.room }}</dd>
    {% endif %}

    {% if space.floor %}
      <dt class="space__field-name">Floor</dt>
      <dd>{{ space.floor._label }}</dd>
    {% endif %}

    {% if space.spaces_types %}
      <dt class="space__field-name">Type</dt>
      <dd>
        {% for type in space.spaces_types %}
          <a href="{% path_to type %}" title="View all spaces of this type"><span class="badge badge-notice">{{ type._label | downcase }}</span></a>
        {% endfor %}
      </dd>
    {% endif %}

    {% if space.capacity %}
      <dt class="space__field-name">Capacity</dt>
      <dd>
        {% if space.capacity == '1' %}
          <i class="fa fa-user"></i>
        {% else %}
          <i class="fa fa-users"></i>
        {% endif %}

        {% if space.capacity == 'N/A' %}
          open area
        {% else %}
          {{ space.capacity }}
        {% endif %}
      </dd>
    {% endif %}

    {% if space.features %}
      <dt class="space__field-name">Features</dt>
      <dd>{{ space.features }}</dd>
    {% endif %}
  </dl>
{% endblock %}
