---
title: Organization & Staff
slug: organization-staff
handle: organization-staff
position: 1
listed: true
published: true
is_layout: false
---
{% extends "layouts/default" %}

{% block main %}
  <div class="page-content">
    {% editable_text "page_content", hint: "Keep it short and sweet" %}
    Page content here
    {% endeditable_text %}

    <table class="ui single line table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Division</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>

      <tbody>
        {% comment %} Again with the diff truthy/falsy diff between engine and wagon... the first test for false should suffice in an ideal world{% endcomment %}
        {% with_scope imposter: false, imposter: nil %}
          {% for person in contents.staff %}
            <tr>
              <td>{{ person.last_name }}, {{ person.first_name }}</td>
              <td>{{ person.division.name }}</td>
              <td><a href="mailto:{{ person.netid }}@cornell.edu" title="Email {{ person.first_name }}">{{ person.netid }}</a></td>
              <td>607-25{{ person.phone }}</td>
            </tr>
          {% endfor %}
        {% endwith_scope %}
      </tbody>
    </table>
  </div>

  {% include 'section-nav' %}
{% endblock %}


























