---
title: Search
slug: search
handle: search
listed: false
published: true
---
{% extends layouts/default %}

{% block 'main' %}

<div class="site-search">
  <form class="site-search__trigger" action="{{ path }}">
    <input class="js-site-search__input" type="text" name="q" value="{{ params.q }}">
  </form>

  {% comment %} Build the request string using API key stored in site metafield {% endcomment %}
  {% assign api_request_url = 'https://storage.scrapinghub.com/items/54745/1/11?format=json&apikey=' %}
  {% assign api_request_url = api_request_url | append: site.metafields.sensitive_data.scrapinghub_apikey %}

  {% comment %} Render results only if search query exists {% endcomment %}
  {% if params.q %}
    {% consume portia from api_request_url , expires_in: 0 %}
      {% if portia == null %}
        Search is currently unavailable.
      {% else %}
        {% comment %} Initiate counter {% endcomment %}
        {% assign results_counter = 0 %}

        <ol class="site-search__results">
          {% for result in portia %}
            {% comment %} Lowercase everything since `contains` is case sensitive {% endcomment %}
            {% assign q_dcase = params.q | downcase %}
            {% assign page_title_dcase = result.page_title[0] | downcase %}
            {% assign page_content_dcase = result.page_content[0] | downcase %}

            {% comment %} What do you think of dem apples, Google? {% endcomment %}
            {% if page_title_dcase contains q_dcase or page_content_dcase contains q_dcase %}
              <li class="site-search__result">
                <h3 class="site-search__page-title"><a href="{{result.url}}">{{ result.page_title[0] }}</a></h3>

                <p class="site-search__page-content">{{ result.page_content[0] | truncatewords: 24 }}<p>
              </li>

              {% capture results_counter %}{{ results_counter | plus: 1 }}{% endcapture %}
            {% endif %}
          {% endfor %}
        </ol>

        {% if results_counter == 0 %}
          <div class="site-search__no-results flash-notice">No results</div>
        {% endif %}
      {% endif %}
    {% endconsume %}
  {% endif %}
</div>

{% endblock %}
