---
title: Search
slug: search
handle: search
listed: false
published: true
---
{% extends layouts/default %}

{% block main %}

<div class="site-search">
  <form class="site-search__trigger" action="{{ path }}">
    <input class="js-site-search__input" type="text" name="q" value="{{ params.q }}">
  </form>

  {% comment %} Render results only if search query exists {% endcomment %}
  {% if params.q %}
    {% comment %} Build the request string using API key stored in site metafield {% endcomment %}
    {% assign api_request_url = 'https://storage.scrapinghub.com/items/54745/1/2?format=json&apikey=' %}
    {% assign api_request_url = api_request_url | append: site.metafields.sensitive_data.scrapinghub_apikey %}

    {% consume portia from api_request_url , expires_in: 600 %}
      {% if portia == null %}
        Search is currently unavailable.
      {% else %}
        <ol class="site-search__results">
          {% for result in portia %}
            <li class="site-search__result">
              <h3 class="site-search__page-title"><a href="{{result.url}}">{{ result.page_title[0] }}</a></h3>

              <p>{{ result.page_content[0] | truncatewords: 12 }}<p>
            </li>
          {% endfor %}
        </ol>
        {% comment %}{{ portia }}{% endcomment %}
      {% endif %}
    {% endconsume %}
  {% endif %}
</div>

{% endblock %}
