---
title: Default layout
is_layout: false
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% capture page_seo_title %} {{ page.seo_title | default: page.title }} {% endcapture %}
    {% if page.parent %}
      <title>{{ page_seo_title }} | {{ site.seo_title }} </title>
    {% else %}
      <title>{{ site.seo_title }} | {{ page_seo_title }}</title>
    {% endif %}
    <meta name="keywords" value="{{ site.meta_keywords }}">
    <meta name="description" value="{{ site.meta_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://use.typekit.net/udt1gzh.js"></script>

    <script>
      try{Typekit.load({ async: true });}catch(e){}
    </script>

    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | theme_image_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/82de14177b.css">

    {{ 'main.css' | stylesheet_tag }}
    {{ 'vendor.bundle.js' | javascript_tag }}
    {{ 'navSearch.bundle.js' | javascript_tag }}
    {%comment%}Google and Piwik Analytics{%endcomment%}
    {% include 'site-analytics' %}
  </head>

  <body class="body-{{ page.slug }}">
    {% include 'header' %}

    <main id="main-content">
      {% block 'heading' %}
        {% include 'breadcrumbs-heading' %}
      {% endblock %}

      {% block 'main' %}
      {% endblock %}
    </main>

    {% include 'footer' %}

    {{ 'https://embanner.univcomm.cornell.edu/OWC-emergency-banner.js' | javascript_tag }}
  </body>
</html>
