---
title: Find a Space
handle: spaces
published: true
listed: true
position: 1
---
{% extends layouts/default %}

{% block main %}

<div class="cards">
  {% for type in contents.spaces_types %}
    <div class="card">
      <a href="{% path_to type %}" title="View all {{ type.name }}">
        <div class="card-image">
          <img src="{{ type.photo.url }}" alt="photo of {{ type.name }}">
        </div>
        <div class="card-header">
          {{ type.name }}
        </div>
        <div class="card-copy">
          <p>{{ type.description }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
<div class="cards">

{% include 'section-nav' %}

{% endblock %}
