---
title: Spaces Type template page
content_type: spaces_types
---
{% extends layouts/default %}

  {% block 'main' %}

  {% include 'room-availability-variables'%}

  <p>{{ spaces_type.description }}</p>

  {% assign libcal_widget_counter = 1 %}

  {% if spaces_type._slug == 'study' %}
    <div class="ui secondary pointing menu">
      {% for study_type in contents.spaces_study_types %}
        {% capture study_type_icon %}
          {% case study_type._slug %}
            {% when 'group' %}
              fa-users
            {% when 'individual' %}
              fa-user
          {% endcase %}
        {% endcapture %}

        <a class="item" href="#{{study_type._slug}}">
          {% if study_type._slug == 'quiet' %}
            <span class="space-finder__quiet-grp fa-stack">
              <i class="fa fa-volume-up fa-stack-1x ui icon"></i>
              <i class="space-finder__quiet-ban fa fa-ban fa-stack-2x ui icon"></i>
            </span>
          {% else %}
            <i class="fa {{ study_type_icon }} icon"></i>
          {% endif %}

          {{ study_type.name }}
        </a>
      {% endfor %}
    </div>

    {% for study_type in contents.spaces_study_types %}
      <div class="space-finder__study-spaces">
        <h3 id="{{study_type._slug}}" class="space-finder__subheading">{{ study_type.name }} Study</h3>

        {% assign spaces_collection = study_type.spaces %}

        {% include 'spaces-cards' %}
      </div>
    {% endfor %}

  {% else %}
    {% assign spaces_collection = spaces_type.spaces %}

    {% include 'spaces-cards' %}
  {% endif %}

{% endblock %}
