---
title: Spaces Type template page
content_type: spaces_types
---
{% extends layouts/default %}

{% block main %}

<p>{{ spaces_type.description }}</p>

{% if spaces_type._slug == 'study' %}
  <div class="ui secondary pointing menu">
    {% for study_type in contents.spaces_study_types %}
      {% capture study_type_icon %}
        {% case study_type._slug %}
          {% when 'group' %}
            fa-users
          {% when 'individual' %}
            fa-user
          {% when 'quiet' %}
            fa-volume-down
        {% endcase %}
      {% endcapture %}

      <a class="item" href="#{{study_type._slug}}">
        <i class="fa {{ study_type_icon }} icon"></i> {{ study_type.name }}
      </a>
    {% endfor %}
  </div>

  {% for study_type in contents.spaces_study_types %}
    <h3 id="{{study_type._slug}}" class="space-finder__subheading">{{ study_type.name }}</h3>

    {% assign spaces_collection = study_type.spaces %}

    {% include 'spaces-cards' %}
  {% endfor %}

{% else %}
  {% assign spaces_collection = spaces_type.spaces %}

  {% include 'spaces-cards' %}
{% endif %}

{% endblock %}
